/*
-Deben ser elementos por default que lucirán igual en todo el sitio, Es .
-Ningún estilo de estos elementos selectores deberá usar !important.
-No usar selectores tipo class o id.
*/
.row
	margin 0
	padding 0
	
.clear
	clear both	
	
ul, ol
	list-style none
a
	text-decoration none 
	border 0
	
	&:hover
		text-decoration none 
	
		
	img
		border 0
		
body
	color $Blanco
	font-family $Edo
	font-size 1.3em
	background-color $Negro
	

h1, h2, h3
	font-family $Edo
	color $Blanco
	font-size 5rem

p
	font-family $Edo
	color $Blanco
	height 4px
.clear
	clear both

section
	margin-top 2%

.cont-titulos-HW
	margin 50px auto 0
	width 46%
	
	h1
		margin 0
		text-shadow 2px 2px 2px $Negro
	
	.titulo-ranking
		font-size 2.7rem
	
	.titulo-form
		font-size 2.3rem
		
	
em.subtitulo-principal
	font-size 3rem
	text-shadow 2px 2px 2px $Negro

em.subtitulo-form
	font-size 2.3rem
	text-shadow 2px 2px 2px $Negro

.conte-BBB-LogoH
	left 35%
	left calc(50% - 150px)
	margin 0 auto
	position absolute
	top -500px
	width 30%

.cont-nombre-hallowen
	left 35%
	left calc(50% - 200px)
	margin 0 auto
	position absolute
	top -500px
	width 30%

h2.titulo-registro-Prin
	color $Negro
	font-size 3rem
	text-align center
	text-shadow 0px 0px 4px $Naranja
	margin 8% 0 3%

.division-form-L
	background-image url('/images/Img-DivisionF.png')
	background-repeat no-repeat
	display block
	float left
	height 300px
	margin 5% 8px 0
	width 18px

h3.pasos-int-sync
	color $Negro
	font-size 2.5rem
	text-align center
	text-shadow 0px 0px 4px $Naranja
	margin-left 23%
	width 53%

.img-sync-cel
	margin-left 28%

.cont-codigo-sync
	background-image url('/images/Img-SyncCelB.png')
	background-repeat no-repeat
	display inline-block
	height 224px
	margin-left 28%
	width 234px

h4.titulos-infor-juego
	color $Negro
	font-size 2.5rem
	text-align center
	margin-top 9%

.container
	margin-top 40px
	padding-top 20px
	
.cont-barra-progreso
	float left
	background-image url('/images/Img-FondoProgress.png')
	background-repeat no-repeat
	width 48px
	height 500px
	position absolute
	top 8%
	left 40px
	
.vertical
	display inline-block
	width 20%
	height 40%
	transform rotate(-90deg)
	
.progress-bar
	box-shadow inset 0px 4px 6px rgba(100,100,100,0.6)

.progress
	background none
	height 9px !important
	left -213px
	position absolute
	top 243px
	width 474px

.progress-bar-info
	background-color $Blanco

.contador-BBB-totales
	position absolute
	top 40%
	right 40px
	width 50px

.cont-text-contador
	background-color $Naranja
	border 2px solid $Negro
	border-radius 100%
	height 40px
	margin -50px 0 0 7%
	position absolute
	text-align center
	width 40px
	z-index 1

.cont-sprite-gestos
	width 140px
	height 140px
	background-color $Naranja
	position absolute
	bottom 0
	left calc(50% - 70px)
	
.cont-logoH-Pe
	width 60px
	position absolute
	left 32px
	bottom 4px

.cont-logoBBB-Pe
	width 69px
	position absolute
	right 32px
	bottom 4px

.cont-titulos-Center
		background-color rgba(255, 255, 255, 0.5)
		box-shadow 0 6px 8px -3px $Negro
		height 137px 
		margin-top 19px
		width 42%

h2.titulo-posicion-H
	color $Negro
	text-shadow 0px 0px 2px $Negro
	text-align center
	font-family $Edo 
	font-size 4rem
	line-height 3.5rem
	margin 8% 0 0 15%
	width 45%
	float left

p.text-mi-resultado
	color $Blanco
	text-shadow 0px 0px 2px $Negro
	font-family $Edo 
	font-size 4rem
	width 30%
	float left
	margin-top 30px

.contenedor-tabla-rank
	height 300px
	overflow scroll
	width 100%
	margin-top 17%

table.posiciones-juegoH
	width 100%
	
	thead
		tr
			th.titulo-apodos
				color $Negro
				text-shadow 0px 0px 2px $Rojo
				font-size 4rem
				text-align center
			
			th.titulo-puntos
				color $Naranja
				text-shadow 0px 0px 2px $Negro
				font-size 4rem
				text-align center
	tbody
		tr
			td
				color $Negro
				font-size 2rem
				text-align center
			
			td.mi-puntaje, td.mi-apodo
				color $Naranja
				text-shadow 0px 0px 2px $Negro
				font-size 2rem
				text-align center

.titulo-fin-rank
	font-size 2.5rem
	margin-top 14px
	text-align center
	text-shadow 0px 0px 2px $Negro
	


