.cont-fondo-G
	margin-left 9%
	margin-top -5%
	
	.cont-cajaG-Iz,
	.cont-cajaG-Center,
	.cont-cajaG-Der
		float left

	.cont-cajaG-Iz
		margin-right 38px
		
	.cont-cajaG-Iz, .cont-cajaG-Der
		height 525px
		position relative
		width 230px
		z-index 1
	
	.cont-cajaG-Center
		background-color rgba(255, 255, 255, 0.5)
		box-shadow 0 6px 8px -8px $Negro
		height 452px 
		margin-top 41px
		width 46%

.cont-cajaD
	margin-left 9%
	
	.cont-cajaDS-Iz,
	.cont-cajaDS-Center,
	.cont-cajaDS2-Center,
	.cont-cajaDS-Der
		float left
	
	.cont-cajaDS-Iz,
	.cont-cajaDS-Der,
		position relative
		z-index 1
	
	.cont-cajaDS-Center
		background-color rgba(255, 255, 255, 0.5)
		box-shadow 0 6px 8px -8px $Negro
		height 247px 
		margin-top 34px
		width 46%
	
	.cont-cajaDS2-Center
		background-color rgba(255, 255, 255, 0.5)
		box-shadow 0 6px 8px -8px $Negro
		height 315px 
		width 46%

.paso2-sync
	margin-top 20px

.cont-caja-titulos
	margin-left 19%

	.cont-titulos-Izq,
	.cont-titulos-Center,
	.cont-titulos-Der
		float left

.cont-titulos-Izq, .cont-titulos-Der
		height 175px
		position relative
		width 194px
		z-index 1

.caja-instr-juegoH
	width 50%
	margin 18% 0 0 32%
	position absolute
	z-index 1

.cont-instrc-Izq,
.cont-instrc-Cen,
.cont-instrc-Der,
.cont-instrc-CenHB
	float left

.cont-instrc-Cen
	background-color rgba(255, 255, 255, 0.5)
	box-shadow 0 6px 8px -8px $Negro
	height 67px 
	width 46%
	margin-top 1.5%
	position relative
	z-index -1

.caja-instr-juegoHB
	width 100%
	margin 10% 0 0 2%
	position absolute
	z-index 1

.cont-instrc-CenHB2
	background-color rgba(255, 255, 255, 0.5)
	box-shadow 0 6px 8px -8px $Negro
	height 67px 
	width 46%
	margin-top 2.2%
	position relative
	z-index -1

.caja-Sync-juegoHB
	width 100%
	top calc(50% - 200px)
	position absolute
	z-index 1
	left 2%

.cont-instrc-CenHB
	background-color rgba(255, 255, 255, 0.5)
	box-shadow 0 6px 8px -8px $Negro
	height 67px 
	width 50%
	margin-top 2.2%
	position relative
	z-index -1

.cont-Sync-Izq,
.cont-Sync-Cen,
.cont-Sync-Der,
.cont-instrc-CenHB2,
.cont-btn-CenHB2
	float left

.cont-Sync-Cen
	background-color rgba(255, 255, 255, 0.5)
	box-shadow 0 6px 8px -8px $Negro
	height 291px 
	width 46%
	margin-top 5%
	position relative
	z-index -1

.cont-btn-CenHB2
	background-color rgba(255, 255, 255, 0.5)
	box-shadow 0 6px 8px -8px $Negro
	height 66px 
	width 30%
	margin-top 3.3%
	position relative
	z-index -1
