@font-face
  font-family 'Another'
  src url('../fonts/AnotherDangerDemo.eot')
  src url('../fonts/AnotherDangerDemo.eot') format('embedded-opentype'),
         url('../fonts/AnotherDangerDemo.woff2') format('woff2'),
         url('../fonts/AnotherDangerDemo.woff') format('woff'),
         url('../fonts/AnotherDangerDemo.ttf') format('truetype'),
         url('../fonts/AnotherDangerDemo.svg') format('svg')
  font-weight normal
  font-style normal
  
@font-face
  font-family 'Edo'
  src url('../fonts/Edo.eot')
  src url('../fonts/Edo.eot') format('embedded-opentype'),
         url('../fonts/Edo.woff2') format('woff2'),
         url('../fonts/Edo.woff') format('woff'),
         url('../fonts/Edo.ttf') format('truetype'),
         url('../fonts/Edo.svg') format('svg')
  font-weight normal
  font-style normal
