.cont-regis-confirmacion
	float left
	text-align center
	width 46%

h3.titulo-registrados
	color $Negro
	font-size 4rem
	margin 10%  0
	text-align center
	
.si-regis
	text-shadow 0px 0px 3px $Verde
	
.no-regis
	text-shadow 0px 0px 3px $Rojo
	
label
	font-size 1.5rem
	color $Negro
	float left

input.datos-login
	background none !important
	border 1px inset $Negro
	color $Negro
	text-shadow 0px 0px 4px $Naranja
	float right
	height 28px
	margin-bottom 5%
	padding 5px
	width 59%
	
label.face-connect
	margin-top 5%

em.diferen-registro
	color $Negro
	font-size 2rem
	line-height 1.5rem

em.inform-princi
	color $Negro
	font-size 1.6rem
	font-style normal
	line-height 1rem

input.codigo.sync
	background none
	border 1px dashed $Negro
	color $Rojo
	font-family $Edo
	font-size 3.2rem
	height 40px
	margin 20% 0 0 10%
	text-align center
	text-shadow 0px 0px 2px $Negro
	width 80%