nav.bar
	border none
	width 100%
	
	ul.menu-site-BBB
		border none
		padding 0
		margin 0
		
		li
			display inline-block
			height 43px
			text-align center
			width 125px	
			
			a
				color $Rojo
				font-family $RalewayL
				height 43px
				padding 10px 0 0
				padding-top 10px
				text-transform uppercase
				width 125px

				&:hover, &:active , &:focus
					background url('/images/fondo-menuP.png')
					background-position -3px -1px
					background-repeat no-repeat
					border none
					color $Blanco
					height 43px
					width 125px

