/*

En este archivo se declaran los colores, las fonts y sus variaciones

*/

//Paleta de colores del proyecto

$Blanco     = #ffffff
$Negro		= #000000
$Naranja 	= #f47a20
$Amarillo 	= #fedb3c
$Rojo		= #C23720
$Verde		= #8BAF0B
$Gris		= #CCCCCC


/*Pueden encontrar más funciones para mezclas y manejo de color acá:
https://learnboost.github.io/stylus/docs/bifs.html*/

//Fonts
$Another  = Another, sans-serif
$Edo	  = Edo, sans-serif
//Font weights
$Light  = 300
$Normal = 400
$Bold   = 700