svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='340px', height='130px', viewbox='0 0 500 200', enable-background='new 0 0 500 200', xml:space='preserve')
g
  path(d='M31.444,141.787c-1.449,0-3.854-0.527-5.396-3.641c-1.657-1.251-3.545-3.363-6.204-6.613l-0.464-0.566l-0.282-0.676\
  c-0.774-1.858-1.277-3.08-1.599-3.965c-0.779-0.97-1.235-2.222-1.235-3.622v-1.378c0-0.772,0.163-1.559,0.481-2.292l-0.355-0.639\
  l0.33-0.769c-0.284-0.912-0.456-2.014-0.456-3.343v-0.759l3.111-10.008l-0.233-0.419l0.355-1.797\
  c1.25-6.334,3.23-11.581,6.044-16.014c1.307-3.815,1.603-5.784,1.658-6.656l-0.767-4.906l5.058-3.933h3.202\
  c0.962-1.21,2.283-2.066,4.177-2.066h4.848l1.362,7.349l-0.504,1.67l0.556,1.15c1.689,3.491,2.26,5.199,2.26,6.77v0.446\
  l-0.079,0.439c-0.695,3.863-3.157,12.445-7.323,25.53c1.131-1.465,2.414-3.282,3.852-5.534c0.833-1.275,1.731-3.347,2.748-6.334\
  l-0.25-0.45l0.921-2.23c1.355-3.282,3.077-8.355,5.118-15.08l0.055-0.183l0.069-0.177c0.229-0.588,0.477-1.127,0.745-1.617\
  c-0.009-0.133-0.013-0.266-0.013-0.399v-0.929l0.333-0.867c0.225-0.585,0.473-1.101,0.738-1.554v-3.794h3.688\
  c0.712-2.058,1.651-4.979,2.868-9.116l0.36-1.223l0.901-0.901c1.172-1.172,2.612-1.568,3.784-1.702\
  c0.153-0.598,0.315-1.24,0.485-1.929l0.477-1.932l4.951-3.185l2.422,1.009c2.956,1.232,4.454,3.146,4.454,5.687v0.306\
  c0,0.731-0.072,1.733-0.6,4.061c0.863,1.001,1.365,2.303,1.365,3.747v1.912l-0.564,1.084c-0.455,0.875-1.422,3.21-2.782,9.013\
  l-0.078,0.333l-0.122,0.318c-2.683,6.991-3.341,9.152-3.499,9.813c-0.024,1.113-0.165,2.054-0.388,2.85\
  c0.006,0.103,0.009,0.208,0.009,0.316v1.143l-0.497,1.029c-3.578,7.418-5.288,11.981-6.093,14.503l-0.682,2.136l-0.778,0.346\
  c-0.318,0.743-0.864,2.188-1.646,4.838l-0.168,0.569l-0.296,0.514c-0.336,0.583-0.7,1.166-1.091,1.749v3.307l-0.545,1.07\
  c-5.031,9.871-10.744,14.669-17.467,14.669h-2.319c-0.947,0.312-1.905,0.816-2.888,1.518l-1.304,0.931h-1.602\
  c-0.05,0-0.186,0.057-0.366,0.182l-1.285,0.891H31.444z')
  path(d='M73.693,58.947c0,1.455-1.072,5.741-3.138,12.706h1.071c0.306-3.75,0.918-5.664,1.76-5.664h0.307\
  c0.536,0.076,0.765,0.306,0.765,0.765v0.689c-0.995,1.913-2.066,5.281-3.214,10.18c-2.526,6.582-3.827,10.332-3.827,11.251\
  c0,1.684-0.229,2.525-0.766,2.525c0.23,0.536,0.383,0.842,0.383,0.995c-3.138,6.506-5.205,11.558-6.353,15.154\
  c-0.689,0.307-1.76,2.756-3.138,7.425c-1.148,1.99-2.679,3.979-4.592,5.97c-1.148,2.908-1.76,4.516-1.76,4.898h0.383\
  c2.219-2.22,3.368-3.827,3.521-4.898h0.689v0.383c-4.057,7.96-8.343,11.939-13.012,11.939v-0.382c-2.755,0-5.434,0.918-8.113,2.831\
  c-1.148,0-2.22,0.383-3.214,1.072c-0.536,0-0.995-0.689-1.378-2.144c-0.842,0-2.908-2.066-6.353-6.276\
  c-1.148-2.755-1.761-4.286-1.761-4.592l0.689,0.306c0-0.152,0.153-0.459,0.383-0.994c-0.459-0.766-0.689-1.378-0.689-1.761h-0.383\
  v0.995c0.23,0.535,0.383,0.842,0.383,1.071h-0.383c-0.459,0-0.688-0.229-0.688-0.688v-1.378c0-0.536,0.383-0.766,1.071-0.766\
  l-0.383-0.688c0.23-0.536,0.383-0.842,0.383-1.072l-0.383-0.688c0.23-0.536,0.383-0.842,0.383-1.071\
  c-0.688-0.076-1.071-0.995-1.071-2.756l3.521-11.327l-0.383-0.688c1.148-5.817,2.985-10.716,5.664-14.772\
  c1.454-4.133,2.143-7.194,2.143-9.185l-0.383-2.449l1.378-1.071h0.382c1.301,1.147,2.296,1.761,3.138,1.761h0.383\
  c0.765-2.526,1.377-3.827,1.76-3.827h0.689l0.383,2.066l-2.449,8.113c-0.23,0-0.383,0.152-0.383,0.382v1.378h0.689l2.143-3.827\
  c0.077-0.535,0.306-0.765,0.689-0.765c1.148,2.372,1.76,3.903,1.76,4.592c-0.689,3.827-3.368,13.088-8.113,27.86\
  c-1.607,1.301-2.449,2.984-2.449,4.898c0,1.913,0.689,3.444,2.143,4.592h0.689c3.597-0.918,8.113-5.511,13.394-13.776\
  c1.301-1.99,2.526-5.052,3.827-9.108h0.383l-0.383-0.688c1.454-3.521,3.214-8.726,5.281-15.537\
  c0.536-1.378,1.071-2.067,1.454-2.067h0.306v0.995h0.382c0.459,0,0.689-0.229,0.689-0.688v-1.071c-1.148,0-1.76-0.307-1.76-0.995\
  c0.383-0.995,0.689-1.454,1.071-1.454l0.307,2.143h0.382c1.072-1.225,2.985-6.429,5.664-15.537c0.229-0.229,0.842-0.306,1.76-0.306\
  l-0.383,2.449c0.229,1.607,0.612,2.449,1.072,2.449c0.689-1.454,1.76-4.975,3.138-10.562l1.071-0.689\
  c0.918,0.383,1.378,0.689,1.378,1.072V58.947z M27.234,101.579h0.689v-0.383h-0.689V101.579z M31.444,132.883h0.382\
  c0.536-0.46,0.995-0.689,1.378-0.689v-0.688h-2.067c-0.459,0.076-0.688,0.306-0.688,0.688L31.444,132.883z M31.826,110.763\
  c0.995,0,2.832-4.362,5.664-13.088l-0.766-0.306c0,0.535-0.918,2.219-2.755,4.898c0,0.688-0.688,3.061-2.143,7.041V110.763z\
  M33.586,96.987h0.383l0.306-1.378h-0.689V96.987z M37.107,96.987h0.689l1.76-7.348c-0.842,0-1.454,1.53-1.76,4.516\
  c-0.383,0-0.612,0.612-0.689,1.76V96.987z M37.49,124.081h0.995v-0.994H37.49V124.081z M39.25,88.874h0.689v-0.995H39.25V88.874z\
  M41.7,127.602c0.459,0,0.689-0.23,0.689-0.689H41.7V127.602z M43.766,119.182c0.536,0,0.766-0.229,0.766-0.688h-0.383\
  c-0.459,0.076-0.689,0.306-0.689,0.688H43.766z M45.909,130.434h1.072l0.306-1.378c-0.918,0.383-1.378,0.688-1.378,1.071V130.434z\
  M47.669,129.056h0.689v-0.383h-0.689V129.056z M52.568,106.171c0,0.382-0.229,0.842-0.688,1.377v0.689\
  c0.383,0,0.842-0.612,1.454-1.761v-0.306H52.568z M54.329,96.68c0.536,0,0.765-0.229,0.765-0.766h-0.765V96.68z M55.783,92.394\
  l-0.689,1.071v1.072h0.689l2.449-7.425h-1.071l-1.072,0.766c0.229,0.536,0.383,0.842,0.383,0.995\
  c-0.153,1.913-0.536,2.832-1.072,2.832L55.783,92.394z M57.543,85.735h1.072v-0.382h-1.072V85.735z M57.849,85.046\
  c0.995-0.383,1.454-1.147,1.454-2.449c-0.382,0-0.842,0.612-1.454,1.761V85.046z M59.992,76.933c0,0.46-0.229,0.689-0.689,0.689\
  v-0.689H59.992z')
  path(d='M64.2,152.231l-1.563,1.043l-3.855-7.711l0.684-1.985c1.578-4.583,2.536-7.993,2.93-10.423l0.306-1.89l1.49-1.202\
  c0.69-0.557,1.159-0.979,1.472-1.284c-0.023-0.156-0.118-0.823-0.118-0.823v-0.354c0-2.596,0.539-5.43,1.648-8.664l1.158-3.378\
  h0.045c0.09-0.439,0.184-0.868,0.286-1.282v-2.169c-0.375-0.758-0.698-1.669-0.947-2.763l-0.49-2.154l1.263-1.812\
  c1.202-1.725,2.661-5.188,4.344-10.31l-0.325-0.586l0.546-1.971c3.985-14.379,6.442-20.636,9.037-23.306l3.013-9.979h1.456\
  c0.089-0.667,0.19-1.478,0.302-2.459c-0.395-1.294-0.595-2.564-0.595-3.792v-3.25l4.628-2.057h1.061\
  c1.579,0,3.804,0.619,5.442,3.567l0.629,1.132v1.959h2.55l1.543,7.096l-0.481,1.347c-0.329,0.918-0.775,1.756-1.329,2.501\
  l0.084,0.369c2.61,1.065,3.244,4.325,4.009,8.261c0.624,3.209,1.406,7.799,2.327,13.645c0.058,0.223,0.115,0.443,0.172,0.662\
  l0.365-0.505c0.063-0.108,0.959-1.707,2.359-8.896l0.062-0.318l0.103-0.308c0.274-0.822,0.615-1.846,1.121-2.841v-0.563\
  l0.236-0.741c1.956-6.138,3.569-10.866,4.794-14.053c1.114-2.898,2.184-5.681,4.207-7l0.36-1.721\
  c0.904-4.318,2.543-7.075,4.888-8.239c0.005-0.04,0.085-0.722,0.085-0.722l0.211-0.565c1.818-4.872,3.293-9.962,4.385-15.128\
  l0.838-3.967h7.82c0.141-0.571,0.29-1.227,0.444-1.977l0.463-2.25l4.166-2.312l1.662,0.236c2.98,0.424,5.061,2.743,5.061,5.639\
  c0,1.826-0.33,3.804-0.983,5.904l0.625,1.125l-1.332,2.422c-0.977,1.777-3.101,7.437-7.668,24.308\
  c-1.787,6.506-3.859,13.146-6.17,19.778l0.181,0.326l-0.817,2.167c-1.491,3.954-2.986,8.604-4.849,15.08l-1.041,3.618h-2.236\
  c-1.023,3.448-1.902,6.761-2.626,9.9l-0.895,3.876h-1.448c-0.466,1.226-1.182,3.426-2.149,7.284\
  c-0.68,14.411-2.6,18.679-5.468,20.858l-1.341,1.019h-1.422l-0.451,1.273c-0.355,0.996-0.85,1.897-1.469,2.688l0.25,0.451\
  l-0.339,1.779c-1.12,5.879-4.825,6.514-6.366,6.514c-4.728,0-5.878-5.112-6.638-8.495l-0.418-1.859l0.33-0.593\
  c-0.022-0.236-0.033-0.474-0.033-0.712c0-0.198,0.011-0.393,0.032-0.585c-1.027-3.042-1.027-3.265-1.027-4.008v-0.812l0.257-0.77\
  c0.078-0.233,0.16-0.455,0.248-0.664c-1.196-9.488-1.917-13.026-2.261-14.325l-0.362-0.604c-0.534-0.89-1.167-2.184-1.946-4.515\
  c-5.276,14.997-6.678,16.773-7.446,17.746l-1.501,1.902h-1.84c-1.584,4.492-2.943,6.621-3.968,7.848\
  c-0.417,0.708-1.264,2.361-2.466,5.742l-0.545,1.534l-7.75,5.299L64.2,152.231z')
  path(d='M144.481,29.021c-1.684,3.062-4.363,11.557-8.113,25.411c-1.913,6.965-4.133,14.007-6.659,21.125h-0.382l0.382,0.688\
  c-1.76,4.669-3.368,9.873-4.975,15.461h-0.306c0-0.229-0.153-0.307-0.383-0.307l0.383-0.766v-1.377h-1.072\
  c-1.914,5.816-3.444,11.251-4.592,16.226c-1.148,0-2.679,3.827-4.592,11.558c-0.459,10.332-1.607,16.149-3.521,17.604\
  c-0.459,0-0.688-0.229-0.688-0.688v-3.521h-0.689c0,0.994-0.612,1.454-1.76,1.454c-0.995,1.147-1.684,2.372-2.143,3.521\
  l0.382,0.688c0,0.077-0.153,0.46-0.382,1.071l0.382,2.067c-0.382,1.071-1.071,1.913-2.143,2.449l0.382,0.765v1.378\
  c0,0.229-0.153,0.383-0.382,0.383l0.382,0.688c-0.306,1.607-0.765,2.449-1.454,2.449c-0.459,0-1.072-1.53-1.76-4.592l0.383-0.689\
  c-0.23-0.382-0.383-0.842-0.383-1.377c0-0.229,0.153-0.383,0.383-0.383c-0.919-2.679-1.378-4.133-1.378-4.21\
  c0.229-0.688,0.459-1.071,0.689-1.071c-1.531-12.476-2.679-18.676-3.521-18.676c-1.607-2.679-3.597-10.179-5.97-22.502\
  c-0.536,0-0.842,0.919-1.072,2.832c0.23,0.383,0.306,0.766,0.306,0.995c-0.536,0-1.684,4.362-3.521,13.088\
  c-3.75,10.792-6.2,16.839-7.348,18.293h-0.689c-0.229,0-0.842-0.689-1.76-2.144c-1.684,6.2-3.368,10.256-4.975,12.017\
  c-0.842,1.302-1.914,3.598-3.138,7.042l-1.454,0.994l-0.306-0.688c0-1.147,0.077-2.372,0.306-3.827v-0.383h-0.306\
  c0,1.531-0.842,2.832-2.449,3.904l-0.383-0.766c1.607-4.669,2.679-8.419,3.138-11.251c2.373-1.914,3.521-3.291,3.521-4.21\
  c0-0.076,0-0.306-0.076-0.612c-0.077-0.459-0.153-0.995-0.229-1.53c0-2.066,0.459-4.363,1.377-7.042h0.383l0.689,0.383l0.382-0.688\
  v-0.689c0-0.535-0.153-1.071-0.382-1.454c0.536-2.832,0.842-4.21,1.071-4.21l-0.383-0.688v-0.688l0.383-1.761\
  c-0.536,0-1.071-0.842-1.454-2.525c1.76-2.526,3.597-7.118,5.664-13.7l-0.382-0.689c3.903-14.083,6.735-21.277,8.496-21.507\
  l2.449-8.113h0.153l0.229-0.076c0.307-0.077,0.612-0.153,0.995-0.23c0,0.23,0.153,0.306,0.383,0.306\
  c0.383-0.383,0.842-3.062,1.378-8.036c-0.459-1.148-0.689-2.22-0.689-3.215l0.689-0.306c0.382,0,0.688,0.306,1.071,0.995v5.664\
  c0,0.306,0.383,0.689,1.071,1.072h0.383c0-0.689,0.229-1.072,0.689-1.072h1.377l0.383,1.761c-0.383,1.071-1.071,1.913-2.143,2.449\
  l1.76,7.73h0.383l1.378-0.995c0.383,0,1.607,6.123,3.521,18.292c2.143,8.267,3.674,13.777,4.592,16.532h0.383\
  c0.536-0.842,2.066-5.663,4.516-14.466c0.995-1.377,2.067-4.975,3.215-10.868c0.689-2.066,1.225-3.138,1.76-3.214\
  c-0.229-0.536-0.383-0.843-0.383-0.995c3.903-12.247,6.276-18.37,7.042-18.37c0.995,0,1.76-1.377,2.449-4.209h0.383l-0.383-0.689\
  c0.689-3.291,1.607-4.898,2.832-4.898c1.148,0,1.837-1.301,2.143-3.903c1.914-5.128,3.444-10.409,4.592-15.843h0.689v2.143\
  c0,0.689-0.459,1.914-1.454,3.827l0.382,0.689c-0.689,1.837-1.148,2.755-1.377,2.832l0.306,0.689\
  c-1.072,2.296-2.143,5.816-3.138,10.562h-0.383c0,0.229,0.153,0.383,0.383,0.383c-0.995,3.597-1.454,5.817-1.454,6.659v0.383h0.383\
  c4.209-9.95,6.353-15.384,6.353-16.226c1.148-1.301,2.679-4.439,4.592-9.491c1.377,0,2.679-2.832,3.827-8.419l0.689-0.382\
  c0.536,0.076,0.765,0.306,0.765,0.688c0,1.761-0.459,3.903-1.454,6.353L144.481,29.021z M73.377,128.673h0.306v-0.688h-0.306\
  V128.673z M80.036,124.846c1.607-3.979,2.449-6.429,2.449-7.424h-0.688c-0.536,0-1.301,2.449-2.449,7.424H80.036z M94.808,99.819\
  h0.689v-1.761l-0.306-1.761h0.306c-0.383-2.449-1.301-4.592-2.755-6.353l-0.765,0.383c0.918,1.301,1.76,3.979,2.525,8.113\
  c-0.229,0-0.383,0.076-0.383,0.306C94.578,98.747,94.808,99.129,94.808,99.819z M102.921,101.196\
  c-0.459,0.077-0.689,0.307-0.689,0.766c1.378,7.96,2.296,11.939,2.832,11.939c0.153-2.066,0.383-3.138,0.688-3.138\
  C104.758,105.789,103.763,102.65,102.921,101.196z M108.891,114.59h0.689v-1.071c-0.459,0.076-0.689,0.306-0.689,0.765V114.59z\
  M109.273,113.212h0.689l0.688-3.215v-0.306c-0.536,0-0.995,1.071-1.377,3.138V113.212z M130.015,69.509\
  c1.148-3.521,1.761-5.511,1.761-5.97h-0.307c-0.536,0-1.225,1.913-2.143,5.664L130.015,69.509z')
  path(d='M161.693,165.896c-4.361,0-5.524-4.418-5.907-5.871l-0.306-1.162l0.524-2.409v-2.902c-0.601-1.054-1.072-2.244-1.072-3.602\
  v-0.281h-1.072c0,0,0-5.05,0-5.075l-4.898-1.531v-12.885h0.689v-9.957l0.689-0.996c0.008-1.664,0.216-4.088,0.617-7.222\
  c-4.561,0.583-6.704,1.18-7.65,1.53l-2.105,6.316l0.157,0.563v0.682c0,0.766,0,2.046-2.404,8.641l-3.565,11.482v7.456h-1.587\
  c-0.241,1.182-0.549,2.933-0.911,5.496l-0.271,1.92l-4.642,3.836h-1.799c-1.277,0-3.682-0.474-5.443-3.645l-0.628-1.132v-3.214\
  l0.116-0.529c0.395-1.798,0.794-3.407,1.213-4.874h-1.61c-1.277,0-3.682-0.474-5.442-3.644l-0.629-1.132v-2.044l0.148-0.83\
  l-0.878-1.583l0.967-1.712h-0.07l0.973-5.824c0.433-2.593,2.368-4.478,4.83-4.812v-4.646h1.135\
  c0.435-1.144,1.018-2.075,1.697-2.819v-0.6c0-1.964,0.688-4.25,2.249-7.354c-0.66-0.897-1.149-2.015-1.392-3.364\
  c-0.437-0.867-0.751-1.982-0.847-3.417l-0.123-1.849l1.112-1.482c1.47-1.96,4.056-3.19,9.387-4.422\
  c0.342-0.366,1.045-1.263,2.126-3.321l0.358-0.684l0.199-1.279c0.29-1.866,0.879-5.666,2.773-8.246v-1.089l0.633-1.135\
  c1.787-3.205,3.167-5.474,4.624-6.862c4-8.428,4.543-10.764,4.616-11.249v-1.179l0.623-1.128c2.793-5.058,4.485-8.639,5.171-10.948\
  l1.063-3.575h3.081c0.238-0.065,0.534-0.144,0.892-0.234l0.987-0.247c0,0,1.481,0.234,1.514,0.239\
  c0.684-0.29,1.438-0.448,2.232-0.448c0.036,0,0.071,0,0.106,0.001l1.376-0.55l2.109,1.23c4.556,2.658,5.236,6.245,5.236,8.146\
  v0.378c0.249,0.64,0.382,1.338,0.382,2.071c0,0.482-0.064,0.95-0.184,1.396l0.618,4.263l-0.102,0.712\
  c-0.159,1.112-0.406,2.045-0.715,2.827c-0.001,0.674-0.108,1.314-0.306,1.904v1.666l-0.217,1.216\
  c0.126,0.452,0.217,0.967,0.217,1.555v0.153l-0.009,0.152c-0.082,1.333-0.198,3.241-0.68,5.053v3.684l-1.029,1.345\
  c-0.185,0.242-0.308,0.427-0.386,0.558c0.096,1.345,0.175,2.39,0.232,3.137c0.08,1.054,0.105,1.381,0.11,1.646\
  c1.132-0.067,2.198-0.135,3.143-0.202c0.483-0.044,0.904-0.066,1.248-0.078v-1.466h4.456c0.161-0.038,1.958-0.466,2.933-0.694\
  c0.862-0.228,1.807-0.472,2.836-0.739c2.058-0.533,4.462-1.155,7.235-1.911l4.14-1.129l0.711,1.599l0.01-0.006v0.029l1.761,3.958\
  v1.444c0,1.107-0.23,2.011-0.689,2.762v0.759c0,4.258-3.529,5.818-13.409,8.451c-1.531,2.22-3.603,2.519-4.603,2.519h-1.58\
  c-1.856,0.137-3.542,0.372-5.054,0.702v2.033l-2.784,2.785c0.002,0.006,0.004,0.012,0.007,0.018h1.4v19.523l-1.366,1.251\
  c-0.097,0.259-0.299,0.929-0.414,2.257l-0.109,1.275l0.128,0.256v3.124l-0.295,0.82c-0.118,0.328-0.244,0.677-0.383,1.038h0.015\
  l1.352,6.223v1.915c0,2.5-1.416,4.533-3.521,5.363v4.125c0.601,1.054,1.071,2.243,1.071,3.601c0,3.708-1.973,6.562-5.414,7.83\
  l-0.837,0.309H161.693z')
  path(d='M164.908,48.614c1.837,1.072,2.755,2.373,2.755,3.827l-0.306,1.76c0.459,0.077,0.688,0.306,0.688,0.689\
  c0,0.229-0.153,0.382-0.382,0.382l0.765,5.281c-0.229,1.607-0.612,2.449-1.071,2.449l0.306,0.689v0.383\
  c0,0.459-0.23,0.689-0.689,0.689l0.383,0.688v1.761l-0.383,2.143c0.229,0.536,0.383,0.842,0.383,1.072\
  c-0.229,3.75-0.689,5.587-1.454,5.587v1.454h0.765v0.307c-0.995,1.301-1.454,2.372-1.454,3.214\
  c0.229,3.291,0.382,5.052,0.382,5.281c-0.306,0-0.688,0.383-1.071,1.071c0.459,2.066,0.918,3.139,1.378,3.139\
  c1.377,0.459,2.908,0.688,4.592,0.688c1.301-0.076,2.526-0.153,3.598-0.229c0.842-0.076,1.377-0.076,1.684-0.076v0.688\
  c-0.536,0-1.684,0.383-3.521,1.071v0.307c0,0.688,0.459,1.071,1.454,1.071c3.291,0,6.506-0.842,9.797-2.449h2.832\
  c2.22,0,4.209-0.459,5.97-1.454v0.383l0.766-0.383h0.306v0.383c0,0.688-3.98,2.143-11.94,4.209\
  c-0.306,1.148-0.689,1.761-1.072,1.761h-1.76c-5.434,0.383-9.797,1.53-13.012,3.521v0.383c0.919,0,1.378,0.076,1.378,0.307\
  l0.689-0.307c0.306,0,0.689,0.383,1.071,1.071v0.689l-3.827,3.827l0.688,1.071v1.071c0.536,0,0.919,0.842,1.072,2.449\
  c-0.536,0-0.842,0.688-1.072,2.143h0.307l1.071-0.688h0.383v7.348c0,0.229-0.153,0.383-0.383,0.383l0.383,0.688v3.904\
  c-0.918,0.842-1.531,2.602-1.761,5.28c-0.382,0-0.688,0.307-1.071,0.995l1.071,2.144v1.071c-0.688,1.913-1.148,2.832-1.454,2.832\
  c-0.536-0.229-0.842-0.383-0.995-0.383v0.383l0.307,0.688c-0.23,1.761-0.307,3.444-0.307,4.898v0.383\
  c0,0.229-0.153,0.307-0.382,0.307c0,0.229,0.153,0.382,0.382,0.382c-0.153,1.914-0.382,2.832-0.765,2.832l0.383,0.689v8.802\
  c0.689,0.995,1.071,1.684,1.071,2.143c0,1.607-0.689,2.603-2.143,3.139c-0.383,0-0.688-0.689-1.071-2.144l0.383-1.76v-4.898\
  c-0.689-0.995-1.072-1.685-1.072-2.144l1.454-11.939c-0.689,0-1.071-0.229-1.071-0.689c0.306-1.607,0.689-2.449,1.071-2.449\
  l-0.382-0.765c0.459-0.766,0.688-1.455,0.688-2.067v-0.688c0-0.536-0.229-0.766-0.688-0.766l-0.689,1.761l0.306,0.766l-1.378,4.516\
  l0.383,1.76l-0.383,0.766c0,0.459,0.229,1.302,0.689,2.449c-0.306,1.378-0.689,2.066-1.072,2.066c0-2.984-0.842-4.516-2.449-4.516\
  l-2.449-0.766v-0.995h0.689v-2.525h-0.689v-0.688h0.689v-2.832c0-0.229,0.153-0.307,0.383-0.307l-0.383-0.688v-9.567l0.689-0.995\
  v-1.454c0-1.53,0.229-4.21,0.766-8.113c0-0.152-0.153-0.459-0.383-0.995l0.383-2.143v-0.383c-0.153-0.688-1.072-0.995-2.832-0.995\
  c-9.644,0.995-14.466,2.449-14.466,4.516l-2.832,8.496l0.383,1.378c0,0.688-0.689,3.062-2.143,7.041l-3.827,12.323v3.214\
  c-0.689,0-1.531,3.291-2.449,9.797l-1.761,1.455c-0.306,0-0.688-0.383-1.071-1.072v-1.377c0.688-3.139,1.454-5.971,2.449-8.496\
  l-0.383-0.689c0.536-1.454,0.766-2.525,0.766-3.138c-0.307,0-0.919-0.842-1.761-2.525c-0.995,0-1.454-0.307-1.454-0.995v-2.525\
  l0.689-0.995v-0.383h-0.995c-0.536,0-1.454,2.372-2.832,7.041c-0.153,0-0.765,0.612-1.76,1.761c-0.306,0-0.689-0.383-1.071-1.071\
  v-0.307l0.382-2.143l-0.382-0.689c0.995-1.76,1.53-3.291,1.76-4.592c2.832-2.756,4.209-5.205,4.209-7.425\
  c0.153,0,0.383-0.306,0.689-0.994c0-0.23-0.077-0.383-0.306-0.383c0.306-2.603,1.377-3.904,3.138-3.904l0.383-1.76\
  c-0.383,0-0.688-0.307-1.071-0.995v-0.383c0-1.53,1.071-4.133,3.138-7.73v-1.76c-1.607,0-2.449-1.072-2.449-3.215\
  c-0.382,0-0.612-0.612-0.688-1.761c0.688-0.918,3.214-1.837,7.424-2.755c1.455-0.689,2.909-2.603,4.516-5.664\
  c0.382,0,0.918-1.071,1.454-3.138c0-0.23-0.153-0.383-0.383-0.383c0.689-4.439,1.684-6.659,2.832-6.659\
  c0,0.229,0.153,0.307,0.383,0.307l0.306-1.378c-0.459,0-0.689-0.383-0.689-1.071c2.22-3.98,3.674-5.971,4.209-5.971\
  c3.75-7.807,5.664-12.628,5.664-14.465c2.832-5.128,4.745-9.108,5.587-11.94c0.077,0,0.536-0.153,1.455-0.383\
  c1.454,0.229,2.373,0.383,2.832,0.383c0.077-0.459,0.307-0.689,0.689-0.689c0.23,0,0.306,0.077,0.306,0.306L164.908,48.614z\
  M120.516,130.586h-0.689c0.077-0.459,0.306-0.688,0.689-0.688V130.586z M120.516,135.868h0.689v-0.688h-0.689V135.868z\
  M122.965,132.73v-0.689c-0.459,0.077-0.689,0.307-0.689,0.689H122.965z M147.61,92.93h0.689v-0.307h-0.689V92.93z M147.993,92.241\
  h0.689v-1.377h-0.383L147.993,92.241z M149.371,86.271c-0.077,0.766-0.153,1.454-0.23,1.99c-0.077,0.383-0.077,0.688-0.077,0.842\
  h0.689c0-1.148,0.23-1.99,0.689-2.525l-0.689-0.307H149.371z M149.753,96.451c-0.229,0.536-0.382,0.842-0.382,1.071\
  c1.301-0.688,2.449-1.071,3.521-1.071v-0.688h-3.521L149.753,96.451z M150.825,84.51v-0.688c-0.536,0.077-0.766,0.307-0.766,0.688\
  H150.825z M151.82,89.103c-0.919,2.144-1.378,3.903-1.378,5.281c2.143-0.229,4.745-0.842,7.73-1.761v-4.592\
  c0-0.229,0.153-0.383,0.383-0.383l-0.383-0.689c0.153-2.066,0.383-3.138,0.688-3.138l-0.306-0.766\
  c0.076-0.459,0.306-0.688,0.688-0.688l-0.383-0.688v-1.378l1.072-1.454c-0.689,0-1.072-0.229-1.072-0.689v-2.831l-0.306-1.761\
  c-1.072,0.536-3.444,5.435-7.042,14.771L151.82,89.103z M151.131,83.056h0.382v-0.688h-0.382V83.056z M151.513,81.679v0.382h0.307\
  c0-0.229,0.153-0.535,0.382-1.071h-0.382L151.513,81.679z M165.903,141.532l0.382,1.76v1.378c0,0.536-0.229,0.766-0.689,0.766\
  l-0.382-0.766v-3.138H165.903z M194.069,86.578v0.382c0,0.536-3.521,1.378-10.562,2.449c0,0.46-1.148,0.689-3.521,0.689v-0.689\
  c0.076,0,1.301-0.306,3.597-0.842c2.602-0.688,5.97-1.53,10.179-2.679L194.069,86.578z')
  path(d='M201.552,157.965c-0.714,0.503-1.514,0.829-2.397,0.975l-0.406,0.067h-5.795v-5.995c0-1.276,0.473-3.679,3.642-5.441\
  l1.133-0.63h1.785c0.06-0.306,0.125-0.619,0.194-0.941c-0.529-0.885-0.784-1.886-0.784-2.86v-1.817l0.622-0.994\
  c0.067-0.184,0.153-0.457,0.248-0.784c-0.039,0.018-1.084,0.482-1.084,0.482h-0.205l-0.173,0.065\
  c-2.358,0.883-4.309,1.313-5.964,1.313h-2.945l-1.528-2.756h-3.896l-2.294-4.583v-1.871c0-0.244,0.013-0.479,0.039-0.704\
  c-0.889-1.01-1.417-2.362-1.417-3.888v-0.414l0.068-0.408c0.478-2.866,2.789-4.868,5.621-4.868h0.665l0.354,0.051\
  c1.004,0.145,1.905,0.504,2.66,1.028c0.652-0.274,1.387-0.506,2.223-0.7c0.831-2.98,3.479-6.396,11.013-7.338\
  c0.106-0.034,0.2-0.066,0.281-0.097v-0.71l0.84-1.26c0.376-0.564,1.335-2.432,2.997-8.346c-0.544,0.142-1.145,0.302-1.808,0.483\
  l-0.646,0.176h-1.664c-3.287,0-5.766-2.478-5.766-5.765c0-3.361,2.489-5.088,6.353-6.592V92.44l1.053-1.354\
  c1.422-1.83,3.74-3.389,7.378-4.935c0.48-1.609,1.107-3.984,1.877-7.109l-2.196-3.95v-3.025l0.242-0.604l-1.729-3.898l0.137-1.325\
  c0.306-2.96,2.149-6.744,8.963-8.586c1.445-1.667,2.635-3.322,3.617-5.028l1.442-2.505h6.004l0.321,0.5l0.598-1.954h6.811\
  l0.402,0.625l5.39-5.105v7.361c0.528-0.033,1.081-0.049,1.659-0.049h2.143c7.966,0,14.606,3.228,19.736,9.593l1.107,1.374v1.764\
  c0,8.457-2.521,15.385-7.502,20.644c0.701,0.571,1.297,1.232,1.734,1.998c2.285,1.783,3.625,3.134,3.625,5.525\
  c0,0.159-0.006,0.316-0.019,0.472c0.27,1.092,0.402,2.228,0.402,3.432c0,1.54-0.422,3.708-3.368,9.009\
  c-0.697,3.611-3.798,7.433-9.794,12.145l-1.36,1.068h-0.747c-0.49,0.321-1.436,0.998-3.052,2.353l-0.332,0.278l-0.375,0.217\
  c-5.25,3.039-9.565,5.049-13.166,6.113c-0.979,1.629-2.757,2.673-4.876,2.673h-3.071c-0.157,0.119-0.322,0.246-0.493,0.381\
  l-0.82,0.646l-1.01,0.264c-2.36,0.617-3.342,1.236-3.689,1.511v4.621h-3.676c-0.069,0.261-0.142,0.601-0.208,1.033l-0.044,0.292\
  l-0.079,0.285c-0.528,1.914-1.864,6.756-5.131,9.066l0.381,0.763l-0.554,1.886c-0.668,2.273-1.964,4.177-3.852,5.66l-4.61,3.621\
  L201.552,157.965z M231.488,100.033c-0.297,0.632-0.755,1.934-1.107,4.396l-0.133,0.933l-0.463,0.82\
  c-0.275,0.487-0.767,1.528-1.533,3.715c2.505-0.339,6.578-1.932,12.891-6.901c1.068-2.411,1.103-3.439,1.103-3.561\
  c0-0.265-0.065-0.505-0.183-0.675l-0.816-1.179l-2.404,0.814c-1.03,0.581-2.261,1.038-3.56,1.519l-0.841,0.312h-0.896\
  c-0.244,0-0.864,0-1.651-0.141C231.766,100.068,231.63,100.05,231.488,100.033z M242.753,72.796\
  c0.614-0.436,1.191-0.882,1.733-1.339c-0.092-0.201-0.168-0.4-0.231-0.597c-0.551,0.149-1.05,0.288-1.502,0.416V72.796z')
  path(d='M186.32,126.913c0.536,0.077,0.766,0.307,0.766,0.689c0,0.535-0.23,0.765-0.766,0.765h-0.306\
  c-0.459,0-0.689-0.229-0.689-0.765c0.077-0.46,0.306-0.689,0.689-0.689H186.32z M235.993,54.737v2.449h1.377l1.454-1.377\
  c0,0.459,0.689,0.918,2.067,1.377c1.071-0.459,2.602-0.689,4.592-0.689h2.143c6.429,0,11.71,2.603,15.843,7.73\
  c0,8.189-2.679,14.542-8.113,19.058c-3.521,1.685-5.281,2.603-5.281,2.832c5.587,1.072,8.419,2.373,8.419,3.827\
  c1.914,1.454,2.832,2.22,2.832,2.449s-0.077,0.383-0.306,0.383c0.459,1.071,0.689,2.22,0.689,3.521\
  c0,1.148-1.072,3.674-3.215,7.425c0,2.296-2.679,5.587-8.037,9.797c-0.688,0-2.449,1.147-5.281,3.521\
  c-7.271,4.209-12.706,6.353-16.226,6.353c-1.454,0.153-3.444,1.225-5.97,3.215c-4.975,1.301-7.424,3.291-7.424,5.97\
  c-1.99,0-3.291,1.761-3.827,5.281c-1.225,4.439-2.679,6.658-4.286,6.658c-0.689,1.072-1.148,2.449-1.377,4.21l0.382,0.766\
  c-0.382,1.301-1.071,2.296-2.143,3.138l-0.383-0.688c0-1.684,0.459-4.362,1.455-8.113c-0.995,0-1.455-0.229-1.455-0.688v-0.383\
  c0.383-0.612,0.919-2.603,1.761-5.97c0.306,0,0.765-1.378,1.454-4.21c-0.229-0.536-0.383-0.842-0.383-1.071h-0.306\
  c-3.214,1.454-5.357,2.143-6.353,2.143h-0.383l2.449-1.76v-0.383h-1.76l-1.76-1.378c-0.536,0-4.286,1.148-11.251,3.521h-0.306\
  l-0.383-0.765v-0.689c0-0.535,1.913-1.225,5.664-2.066l0.306-0.766c-1.071-0.535-1.684-0.995-1.76-1.377\
  c0.995-0.689,3.062-1.148,6.353-1.378v-0.766h-0.689v-0.995c0-2.832,2.449-4.439,7.348-4.975c2.832-0.766,4.286-2.144,4.286-4.21\
  c1.378-2.066,2.985-6.889,4.898-14.466c-0.229-1.454-0.382-2.372-0.382-2.755h-0.689c-1.148,0-3.903,0.612-8.113,1.76h-0.995\
  c-0.536,0-0.766-0.229-0.766-0.765c0-0.689,2.603-1.837,7.807-3.521v-0.688c-0.995,0-1.454-0.383-1.454-1.071\
  c1.071-1.378,3.521-2.756,7.424-4.21c0.842-2.066,2.22-7.348,4.21-15.843h-1.378l-1.76,0.382l-0.383-0.688V73.03\
  c0.306-0.765,1.225-1.454,2.832-2.066c-0.459-0.765-0.689-1.377-0.689-1.76c0.842-1.148,1.531-1.76,2.066-1.76v-1.072l-1.377-0.382\
  c-1.301,0.765-2.603,1.225-3.904,1.454l-0.306-0.689c0.229-2.22,2.449-3.75,6.659-4.592c2.066-2.22,3.827-4.516,5.281-7.042h0.383\
  l0.689,1.072l-0.689,0.995v1.455l3.138,0.688c1.607,0,3.062-1.913,4.209-5.664h0.383L235.993,54.737z M193.361,133.955l1.072,0.688\
  h2.143v0.766c-1.837,0.688-3.214,0.995-4.209,0.995l-0.382-0.689c0.306-1.147,0.688-1.76,1.071-1.76H193.361z M193.055,129.745\
  h0.306c0.536,0,0.765-0.229,0.765-0.688h-1.071V129.745z M197.265,135.026v-0.383c0-0.535,0.842-0.842,2.449-0.995\
  c0,0.307-0.689,0.766-2.066,1.378H197.265z M199.714,151.941v0.306c-0.459,1.148-0.918,1.685-1.377,1.761h-0.383v-0.995\
  c0-0.306,0.383-0.688,1.071-1.071H199.714z M203.923,128.367c1.301,0,2.22-0.459,2.832-1.454h-0.688\
  c-2.373,0.307-3.521,0.766-3.521,1.454H203.923z M209.97,136.404h1.76v-0.995h-1.072c-0.459,0.076-0.688,0.306-0.688,0.688V136.404\
  z M210.659,94.92h2.067c0.382,0,1.071-0.689,2.143-2.144h-0.383c-2.526,0.383-3.827,0.842-3.827,1.378V94.92z M211.348,134.337\
  c0.459,0,0.689-0.229,0.689-0.689l-0.689-0.383V134.337z M221.527,114.59l0.765,0.383h4.898c4.746,0,10.716-2.908,17.987-8.802\
  c1.377-2.832,2.066-5.128,2.066-6.735c0-1.302-0.383-2.526-1.072-3.521v-0.306c0.077-0.459,0.383-0.688,0.766-0.688\
  c0.229,0,1.301,1.147,3.138,3.521h0.689c0-1.607-0.842-3.215-2.449-4.976v-0.688l0.382-0.688c-1.301-0.995-2.143-1.455-2.526-1.455\
  l-9.49,3.215c0,0.153-1.072,0.612-3.138,1.378c-0.153,0-0.459,0-0.842-0.076c-0.536-0.077-1.225-0.153-1.99-0.229\
  c-2.679,0-4.439,2.908-5.281,8.802C224.436,105.482,223.135,109.08,221.527,114.59z M230.329,124.463\
  c0,0.459-0.229,0.689-0.689,0.689v-0.689H230.329z M237.753,69.892h-1.76c-0.842,0-2.143,3.903-3.904,11.634l0.383,0.688\
  c-0.229,0.536-0.383,0.842-0.383,1.071h0.383c7.884-2.679,13.777-6.123,17.604-10.256c0.689-1.684,1.071-2.602,1.071-2.755\
  c-1.454-0.307-2.143-0.689-2.143-1.072V68.82h2.143c1.378,0,2.067-0.689,2.067-2.066c-1.607-1.148-3.598-1.76-5.97-1.76h-0.306\
  c-7.577,1.913-11.328,3.138-11.328,3.827c0.383,0.23,1.148,0.383,2.143,0.383V69.892z M239.896,89.256h0.689v-0.383h-0.689V89.256z\
  M249.387,82.214h0.306v-0.688l-5.587,2.066c0.077,0.536,0.306,0.766,0.689,0.766L249.387,82.214z M249.387,59.33h2.449v-0.383\
  l-2.449-0.688c-0.459,0.076-0.689,0.306-0.689,0.688L249.387,59.33z M250.765,111.07h1.071v-0.307h-1.071V111.07z M253.214,108.238\
  c0,0.383-0.23,0.918-0.689,1.454h0.382c0.383-0.229,0.842-0.383,1.378-0.383v-0.307c0-0.535-0.229-0.765-0.689-0.765H253.214z\
  M254.668,60.401l0.688,0.306h1.072v-0.689c-0.536,0-1.072-0.077-1.454-0.306L254.668,60.401z M258.878,97.675h1.377V97.37\
  c0-0.46-0.229-0.689-0.688-0.689c-0.459,0.076-0.689,0.307-0.689,0.689V97.675z')
  path(d='M258.452,160.232l-2.129-4.787l0.083-1.234c0.026-0.397,0.07-0.771,0.128-1.12l-0.203-0.364l0.555-1.981\
  c0.381-1.36,0.727-2.616,1.04-3.775l-5.052,2.218v-3.039h-0.382v-5c0-2.282,1.231-4.74,4.086-8.105\
  c0.798-2.318,1.804-4.538,3.05-6.731c0.208-1.771,0.829-4.618,2.528-9.995c-0.19-0.559-0.34-1.192-0.436-1.909l-0.164-1.229\
  l0.429-1.163c1.117-3.028,1.855-5.118,2.342-6.55c-2.345-1.574-4.118-3.145-5.459-4.822l-1.096-1.37v-2.95l0.258-0.771\
  c0.042-0.126,0.094-0.267,0.158-0.42l-1.933-2.849l7.719-4.289l1.691,0.805c0.517-0.565,1.201-1.119,2.103-1.62l0.95-0.528v-1.766\
  l0.091-0.091c-0.586,0.094-1.047,0.122-1.443,0.122c-1.276,0-3.68-0.473-5.442-3.642l-0.63-1.133v-3.578l1.349-1.442\
  c2.817-3.011,6.163-5.019,9.948-5.972c0.415-1.54,1.006-3.176,1.779-4.925c0.416-3.759,2.736-5.618,4.92-6.104l0.536-0.12h1.067\
  c0.186-0.125,0.372-0.245,0.557-0.357c0.521-0.733,1.27-1.455,2.348-2.039c1.004-2.709,2.186-4.504,3.707-5.675l8.05-6.195v7.765\
  l3.097,1.667l-2.133,4.267c-0.057,0.146-0.16,0.453-0.304,0.95h3.071l-0.535,2.458l6.648-0.426l1.539,0.334\
  c1.445-0.204,2.753-0.3,4.052-0.3h3.09l1.853,3.706c1.555,0.806,3.312,1.933,5.354,3.425c1.62,0.607,3.102,1.911,4.426,3.898\
  l0.839,1.259v2.586c0,0.583-0.051,1.513-0.38,3.597c0.247,0.639,0.38,1.335,0.38,2.066c0,6.286-4.416,11.845-13.126,16.528\
  c-1.924,1.468-4.732,2.959-8.489,4.503l23.376,17.657v2.171c0.079,0.103,0.225,0.271,0.476,0.495l3.079,2.754l-0.683,1.138\
  c0.501,0.395,1.108,0.861,1.845,1.408l2.018,1.5v0.436c0.313,0.258,0.71,0.576,1.207,0.962l0.494,0.384l2.508,3.226v2.48\
  c0,1.382-0.444,2.619-1.205,3.584l0.079,0.062c0.867,0.371,1.773,0.862,2.737,1.484l1.738-0.774l1.384,0.174\
  c2.23,0.281,3.907,1.641,8.153,6.612l1.198,1.402v3.605c0,1.277-0.474,3.682-3.645,5.443l-2.689,1.493l-11.242-7.625\
  c-0.669,0.265-1.41,0.409-2.197,0.409h-5v-3.534c-0.337-0.362-0.865-0.902-1.685-1.693l-0.217-0.209l-0.19-0.234\
  c-2.311-2.839-5.037-5.171-8.103-6.933l-0.283-0.163l-0.26-0.198c-2.541-1.939-6.437-4.573-12.628-8.536\
  c-8.024-4.898-13.526-8.964-16.818-12.432l-1.375-1.447v-0.263c-0.665-0.39-1.84-0.994-3.864-1.826\
  c-0.025,0.092-0.16,0.609-0.16,0.609l-0.127,0.31c-1.791,4.37-4.168,11.324-7.069,20.674c-0.425,2.323-2.283,4.251-5.539,6.659\
  c-1.684,11.509-3.284,16.948-8.551,16.948H258.452z M292.043,87.932c1.492-0.28,2.748-0.715,3.761-1.301\
  c-1.964,0.437-3.059,0.802-3.639,1.037C292.124,87.757,292.083,87.845,292.043,87.932z')
  path(d='M289.178,63.386v1.378l-0.383,2.449c1.377,0,2.449-1.148,3.215-3.521l0.688-0.306h0.383l-0.383,1.76\
  c0.229,0.536,0.383,0.842,0.383,1.072l11.939-0.766l1.761,0.383c1.378-0.229,2.755-0.383,4.209-0.383l0.383,0.766v0.688\
  l-0.383,0.689c1.761,0.306,4.439,1.837,8.113,4.592c0.689,0,1.531,0.689,2.449,2.066v1.072c0,0.765-0.229,2.449-0.688,4.975\
  c0.459,0.076,0.688,0.306,0.688,0.688c0,4.363-3.597,8.496-10.868,12.323c-2.525,2.066-7.807,4.438-15.844,7.041v0.307\
  l28.473,21.507c0,1.301,0.688,2.603,2.143,3.903c-0.229,0.383-0.382,0.842-0.382,1.378c0.688,0.842,2.296,2.22,4.975,4.21\
  c0,0.229,1.071,1.225,3.138,2.831l1.071,1.378v0.766c0,0.459-0.229,0.688-0.688,0.688h-0.383c-6.199-5.128-9.797-7.73-10.944-7.73\
  v1.378c0,0.383,1.53,1.454,4.592,3.139v2.143l-0.688,1.071l9.49,7.348c1.761,0.612,3.98,2.144,6.735,4.593\
  c1.531,0.459,2.449,0.688,2.756,0.688v-0.688c0-0.229-0.842-1.225-2.449-2.832l0.688-0.307c0.612,0.077,2.296,1.761,4.976,4.898\
  v1.761c0,0.306-0.383,0.688-1.072,1.071l-10.944-7.424c-1.607-1.148-2.832-1.761-3.521-1.761v0.383l1.454,1.761\
  c0,0.459-0.229,0.688-0.688,0.688c0-0.536-1.071-1.761-3.215-3.827c-2.679-3.291-5.894-6.046-9.49-8.112\
  c-2.908-2.22-7.271-5.128-13.012-8.802c-7.653-4.669-12.935-8.572-15.843-11.635c0-1.606-3.751-3.674-11.251-6.353h-0.383\
  c-0.536,0-1.225,1.761-2.143,5.281c-1.914,4.669-4.363,11.863-7.348,21.508c0,0.842-1.76,2.449-5.281,4.898\
  c-1.377,9.873-2.679,14.771-3.903,14.771l-0.306-0.688c0.077-1.148,0.306-1.761,0.689-1.761l-0.383-0.688\
  c2.832-10.104,4.209-16.303,4.209-18.676l-1.76-0.306h-0.689c-0.382,0.076-1.148,2.372-2.449,7.041l-3.138,1.378\
  c0-0.229-0.153-0.383-0.382-0.383c0-0.995,1.148-2.908,3.521-5.587c0.842-2.679,1.99-5.205,3.521-7.73\
  c0-1.914,1.071-6.047,3.138-12.323c-0.536,0-0.842-0.612-0.995-1.76c2.373-6.43,3.521-9.95,3.521-10.562\
  c-3.444-1.913-5.893-3.75-7.424-5.664v-0.383c0.23-0.688,0.919-0.994,2.144-0.994l-1.455-2.144l0.689-0.383\
  c1.607,0.766,3.674,1.225,6.353,1.454l0.383-0.688c-0.612,0-1.225-0.612-1.76-1.761c0-0.306,0.382-0.688,1.071-1.071h0.995\
  l1.072,0.688c1.607,0,2.449-0.918,2.449-2.832V88.72l-0.995-1.378v-0.383c1.377-1.377,2.22-2.755,2.449-4.209l-0.383-1.454\
  c0.689-1.148,1.071-2.066,1.071-2.756v-1.071c-0.688,0-1.071-0.153-1.071-0.383c-4.363,1.914-7.194,2.832-8.419,2.832\
  c-0.307,0-0.689-0.383-1.072-1.071v-0.307c2.22-2.372,4.822-3.903,7.73-4.592l1.76,0.306h1.071c0-2.449,0.842-5.357,2.449-8.802\
  c0-1.454,0.383-2.296,1.072-2.449h2.449c0-0.306,0.842-0.918,2.449-1.76c0-0.842,0.843-1.454,2.526-1.76\
  c0.842-2.985,1.761-4.822,2.755-5.587c0,0.383,0.46,0.842,1.455,1.377c-0.383,0.766-1.148,3.444-2.144,8.113H289.178z\
  M267.67,133.801c1.684,0,2.526-1.378,2.526-4.21h-0.382c-1.455,0-2.373,1.072-2.832,3.139c0.229,0.535,0.383,0.842,0.383,1.071\
  H267.67z M289.561,80.99c0.076,0.46,0.306,0.689,0.688,0.689c4.057-0.919,6.889-1.378,8.419-1.378v0.688\
  c-7.271,1.225-10.868,2.603-10.868,4.21c-1.913,4.057-2.832,6.812-2.832,8.113c0.459,0,0.688,0.076,0.688,0.306l0.689-0.306h1.071\
  c5.894,0,10.18-1.302,13.012-3.904c4.133-2.602,7.041-5.51,8.802-8.802l-2.449-0.306l-1.071,0.688h-0.307l-0.766-0.383l0.383-0.688\
  v-1.071c-2.066-0.229-3.827-0.307-5.281-0.307h-1.071c-6.047,0-9.107,0.689-9.107,2.066V80.99z M286.04,96.451h0.307\
  c1.53,0,3.291-0.229,5.281-0.688v-0.383c-0.23,0-0.612-0.077-1.072-0.307c-2.066,0.459-3.521,0.689-4.516,0.689V96.451z\
  M293.082,102.803c1.607,1.607,3.062,2.449,4.209,2.449v-0.306c-0.229-0.843-1.684-1.685-4.209-2.526V102.803z M294.077,75.327\
  h0.383l10.179-2.833v-0.306c-1.454,0-2.602-0.153-3.521-0.383c-0.918,0.459-2.22,0.689-3.827,0.689\
  c0,1.455-1.071,2.143-3.214,2.143V75.327z M308.542,119.03c0.536,0,0.995,1.147,1.378,3.521c2.373,0.918,4.286,1.378,5.664,1.378\
  v-0.383c-3.368-3.521-5.587-5.281-6.659-5.281L308.542,119.03z')
  path(d='M330.423,141.787c-1.449,0-3.854-0.527-5.396-3.641c-1.657-1.251-3.545-3.363-6.204-6.613l-0.464-0.566l-0.282-0.676\
  c-0.774-1.858-1.277-3.08-1.599-3.965c-0.779-0.97-1.235-2.222-1.235-3.622v-1.378c0-0.772,0.163-1.559,0.481-2.292l-0.354-0.637\
  l0.329-0.769c-0.285-0.913-0.456-2.015-0.456-3.345v-0.759l3.111-10.008l-0.233-0.419l0.355-1.797\
  c1.25-6.334,3.23-11.581,6.044-16.014c1.307-3.815,1.603-5.785,1.657-6.657l-0.765-4.906l5.055-3.933h3.203\
  c0.962-1.209,2.283-2.066,4.177-2.066h4.847l1.362,7.349l-0.504,1.67l0.557,1.151c1.689,3.491,2.259,5.199,2.259,6.769v0.446\
  l-0.079,0.439c-0.694,3.861-3.156,12.442-7.322,25.53c1.131-1.465,2.413-3.281,3.852-5.533c0.833-1.275,1.73-3.347,2.748-6.334\
  l-0.25-0.449l0.921-2.23c1.357-3.286,3.079-8.36,5.118-15.08l0.055-0.182l0.069-0.177c0.229-0.588,0.477-1.128,0.745-1.619\
  c-0.009-0.133-0.013-0.266-0.013-0.398v-0.929l0.333-0.867c0.225-0.585,0.473-1.101,0.738-1.554v-3.794h3.688\
  c0.712-2.058,1.651-4.979,2.868-9.116l0.361-1.229l0.908-0.903c1.171-1.167,2.608-1.561,3.776-1.695\
  c0.153-0.598,0.315-1.24,0.485-1.929l0.477-1.932l4.951-3.184l2.421,1.008c2.956,1.232,4.455,3.145,4.455,5.688v0.306\
  c0,0.731-0.073,1.733-0.6,4.06c0.863,1.001,1.365,2.303,1.365,3.747v1.912l-0.564,1.084c-0.456,0.877-1.424,3.213-2.782,9.013\
  l-0.078,0.332l-0.123,0.319c-2.683,6.99-3.341,9.151-3.499,9.813c-0.024,1.113-0.165,2.054-0.388,2.85\
  c0.006,0.103,0.009,0.209,0.009,0.317v1.143l-0.497,1.029c-3.576,7.415-5.287,11.979-6.093,14.503l-0.682,2.135l-0.777,0.346\
  c-0.318,0.742-0.865,2.188-1.646,4.837l-0.168,0.57l-0.297,0.515c-0.336,0.583-0.7,1.166-1.091,1.748v3.307l-0.545,1.07\
  c-5.031,9.871-10.744,14.669-17.467,14.669h-2.319c-0.947,0.312-1.905,0.816-2.889,1.519l-1.304,0.931h-1.602\
  c-0.05,0-0.186,0.057-0.366,0.182l-1.285,0.89H330.423z')
  path(d='M372.672,58.947c0,1.455-1.072,5.741-3.139,12.706h1.072c0.306-3.75,0.918-5.664,1.76-5.664h0.307\
  c0.535,0.076,0.766,0.306,0.766,0.765v0.689c-0.995,1.913-2.067,5.281-3.215,10.18c-2.526,6.582-3.827,10.332-3.827,11.251\
  c0,1.684-0.229,2.525-0.766,2.525c0.229,0.536,0.383,0.842,0.383,0.995c-3.138,6.506-5.204,11.558-6.353,15.154\
  c-0.688,0.307-1.761,2.756-3.138,7.425c-1.148,1.99-2.679,3.979-4.593,5.97c-1.148,2.908-1.76,4.516-1.76,4.898h0.382\
  c2.22-2.22,3.368-3.827,3.521-4.898h0.688v0.383c-4.057,7.96-8.343,11.939-13.012,11.939v-0.382c-2.755,0-5.434,0.918-8.113,2.831\
  c-1.147,0-2.219,0.383-3.214,1.072c-0.536,0-0.995-0.689-1.378-2.144c-0.842,0-2.908-2.066-6.353-6.276\
  c-1.148-2.755-1.761-4.286-1.761-4.592l0.689,0.306c0-0.152,0.152-0.459,0.383-0.994c-0.46-0.766-0.689-1.378-0.689-1.761h-0.383\
  v0.995c0.229,0.535,0.383,0.842,0.383,1.071h-0.383c-0.459,0-0.688-0.229-0.688-0.688v-1.378c0-0.536,0.383-0.766,1.071-0.766\
  l-0.383-0.688c0.229-0.536,0.383-0.842,0.383-1.072l-0.383-0.688c0.229-0.536,0.383-0.842,0.383-1.071\
  c-0.688-0.076-1.071-0.995-1.071-2.756l3.521-11.327l-0.383-0.688c1.148-5.817,2.985-10.716,5.664-14.772\
  c1.454-4.133,2.143-7.194,2.143-9.185l-0.382-2.449l1.377-1.071h0.383c1.302,1.147,2.296,1.761,3.139,1.761h0.382\
  c0.766-2.526,1.378-3.827,1.761-3.827h0.688l0.383,2.066l-2.449,8.113c-0.229,0-0.383,0.152-0.383,0.382v1.378h0.689l2.143-3.827\
  c0.077-0.535,0.307-0.765,0.689-0.765c1.147,2.372,1.76,3.903,1.76,4.592c-0.688,3.827-3.367,13.088-8.112,27.86\
  c-1.607,1.301-2.449,2.984-2.449,4.898c0,1.913,0.688,3.444,2.143,4.592h0.688c3.598-0.918,8.113-5.511,13.395-13.776\
  c1.301-1.99,2.525-5.052,3.827-9.108h0.383l-0.383-0.688c1.454-3.521,3.215-8.726,5.281-15.537\
  c0.535-1.378,1.071-2.067,1.454-2.067h0.306v0.995h0.383c0.46,0,0.689-0.229,0.689-0.688v-1.071c-1.148,0-1.761-0.307-1.761-0.995\
  c0.383-0.995,0.688-1.454,1.071-1.454l0.307,2.143h0.383c1.071-1.225,2.984-6.429,5.663-15.537c0.23-0.229,0.842-0.306,1.761-0.306\
  l-0.383,2.449c0.229,1.607,0.612,2.449,1.071,2.449c0.689-1.454,1.761-4.975,3.139-10.562l1.071-0.689\
  c0.919,0.383,1.378,0.689,1.378,1.072V58.947z M326.213,101.579h0.689v-0.383h-0.689V101.579z M330.423,132.883h0.383\
  c0.535-0.46,0.995-0.689,1.377-0.689v-0.688h-2.066c-0.459,0.076-0.688,0.306-0.688,0.688L330.423,132.883z M330.806,110.763\
  c0.995,0,2.831-4.362,5.663-13.088l-0.765-0.306c0,0.535-0.919,2.219-2.756,4.898c0,0.688-0.688,3.061-2.143,7.041V110.763z\
  M332.566,96.987h0.383l0.307-1.378h-0.689V96.987z M336.086,96.987h0.689l1.76-7.348c-0.842,0-1.454,1.53-1.76,4.516\
  c-0.383,0-0.612,0.612-0.689,1.76V96.987z M336.469,124.081h0.995v-0.994h-0.995V124.081z M338.23,88.874h0.688v-0.995h-0.688\
  V88.874z M340.679,127.602c0.459,0,0.688-0.23,0.688-0.689h-0.688V127.602z M342.746,119.182c0.536,0,0.766-0.229,0.766-0.688\
  h-0.383c-0.459,0.076-0.688,0.306-0.688,0.688H342.746z M344.889,130.434h1.071l0.306-1.378c-0.918,0.383-1.377,0.688-1.377,1.071\
  V130.434z M346.649,129.056h0.689v-0.383h-0.689V129.056z M351.547,106.171c0,0.382-0.229,0.842-0.688,1.377v0.689\
  c0.383,0,0.842-0.612,1.454-1.761v-0.306H351.547z M353.308,96.68c0.536,0,0.766-0.229,0.766-0.766h-0.766V96.68z M354.762,92.394\
  l-0.688,1.071v1.072h0.688l2.449-7.425h-1.071l-1.071,0.766c0.229,0.536,0.382,0.842,0.382,0.995\
  c-0.152,1.913-0.535,2.832-1.071,2.832L354.762,92.394z M356.523,85.735h1.071v-0.382h-1.071V85.735z M356.829,85.046\
  c0.995-0.383,1.454-1.147,1.454-2.449c-0.383,0-0.842,0.612-1.454,1.761V85.046z M358.972,76.933c0,0.46-0.229,0.689-0.689,0.689\
  v-0.689H358.972z')
  path(d='M373.045,142.628c-4.544,0-8.243-2.322-10.415-6.538l-0.167-0.323l-3.909-11.388v-7.595h1.525\
  c-0.25-1.084-0.552-2.174-0.903-3.267l-0.24-0.746v-2.273l0.069-0.412c0.247-1.467,0.975-2.708,2.007-3.569l-0.009-0.041v-2.604\
  c0-5.966,3.491-7.382,4.993-7.713l0.533-0.118h6.234v0.217l0.248,0.091c2.471,0.91,5.417,3.312,5.417,9.591v3.84\
  c2.291-6.8,4.653-13.124,7.055-18.88c0.292-1.334,1.189-4.02,3.958-11.237c0.319-1.184,1.015-3.442,2.531-8.308\
  c-0.73,0.359-1.509,0.777-2.348,1.261c-1.119,0.671-2.484,1.05-3.873,1.05h-2.942l-0.996-1.792\
  c-0.73,0.307-1.565,0.701-2.516,1.207l-1.101,0.585h-1.936c-1.277,0-3.682-0.473-5.443-3.644l-0.629-1.132v-1.427\
  c-0.602-0.598-1.125-1.304-1.555-2.108l-0.588-1.103v-1.556c0-3.038,1.929-4.676,4.344-5.579c0.799-3.649,4.978-4.604,7.29-4.937\
  V52.13l1.464-1.464c1.742-1.742,4.499-2.757,8.676-3.197l1.997-0.21c0.434-0.078,0.808-0.116,1.163-0.123l2.364-0.249v0.19\
  l1.717,0.299l3.866-0.58c0.295-0.556,0.702-1.502,1.132-3.046l1.02-3.657h5.282l0.409,0.068c1.182,0.197,2.216,0.707,3.024,1.436\
  l2.713-1.356l2.273,4.091c2.305-0.469,5.474-1.011,10.062-1.729l0.765-0.12l1.35-0.528l0.852,0.184l2.807-0.439v1.044l2.188,0.472\
  c0.848-0.053,2.207-0.216,3.161-0.33l0.297-0.036h0.299c3.511,0,6.796,0.515,9.791,1.532c1.313-0.284,2.562-0.44,3.681-0.459\
  l3.75-0.002c0.167,0,0.333,0.008,0.497,0.023c0.876-0.217,1.791-0.329,2.718-0.329h2.756c0.41,0,0.905,0.018,1.451,0.102\
  c0.439-0.068,0.898-0.102,1.38-0.102h0.689c2.336,0,4.278,1.298,5.772,3.857l0.682,1.168v2.485\
  c0.443,0.819,0.688,1.762,0.688,2.771v2.463l-3.384,5.266l-3.428-0.791c-1.39-0.32-2.094-0.464-2.442-0.529\
  c-8.296,0.88-12.55,1.597-14.702,2.066v1.805h-6.821l-1.312-0.234c-0.676,0.155-1.397,0.234-2.148,0.234h-2.631\
  c-3.525,0.504-7.896,1.261-13.651,2.36l-5.938,1.134v-0.173l-0.962,0.217c-2.739,6.25-4.281,11.525-4.588,15.707l-0.03,0.407\
  l-0.095,0.396c-2.835,11.785-5.89,22.219-9.083,31.024c-0.531,4-1.413,9.086-6.34,9.086h-0.044\
  c-0.122,0.46-0.638,2.489-0.638,2.489l-0.608,0.806c-2.014,2.666-2.859,3.999-3.2,4.592v0.391l-0.597,1.11\
  c-2.155,4.004-5.238,8.6-9.99,8.6h-0.766c-0.71,0-1.56-0.137-2.434-0.588c-0.697,0.284-1.471,0.532-2.322,0.745l-0.598,0.149\
  H373.045z')
  path(d='M407.947,45.094c0.459,0.077,0.688,0.306,0.688,0.689v2.832l-0.688,2.449h0.995c0.459,0,1.148-1.148,2.143-3.521\
  l1.378-0.689l0.383,0.689v0.689l-0.383,0.688l2.144,1.072c2.296-0.689,6.658-1.455,13.011-2.449v0.306l1.761-0.689l4.975,1.072\
  c0.919,0,2.297-0.153,4.21-0.383c3.598,0,6.735,0.612,9.491,1.76c1.606-0.459,3.061-0.689,4.209-0.689\
  c0.229,0,0.383,0.153,0.383,0.383l0.688-0.383h2.449c0.229,0,0.383,0.153,0.383,0.383c0.842-0.459,1.837-0.689,2.832-0.689h2.756\
  c0.612,0,1.071,0.077,1.454,0.306c0.383-0.229,0.842-0.306,1.377-0.306h0.689c0.459,0,0.918,0.459,1.454,1.378v1.377\
  c-0.229,0.689-0.995,1.072-2.144,1.072h-0.306c-0.536,0-0.919-0.612-1.071-1.76l-0.689,0.382l-2.525-0.382\
  c-5.128,0-7.73,0.612-7.73,1.76c0,0.459-0.229,0.689-0.688,0.689c-0.229,0-0.383-0.077-0.383-0.307l-4.898,0.689V53.13\
  l-0.688,0.382c-0.536-0.229-0.843-0.382-1.072-0.382c-0.535,0.536-3.826,0.995-9.873,1.454c0,0.383-1.378,0.688-4.21,1.071v0.689\
  l2.449-0.383v0.383c2.756-0.383,7.808-0.918,15.155-1.454c1.454,0.229,2.143,0.459,2.143,0.765\
  c0.842-0.842,2.679-1.301,5.587-1.454v0.383l2.449-0.689c0.383,0.229,0.766,0.306,1.072,0.306c0.306,0,1.377-0.383,3.214-1.071\
  l0.689,0.382c1.454-0.229,2.449-0.382,3.138-0.382h0.383c0.459,0.076,0.688,0.306,0.688,0.765v0.995l-0.688,1.071\
  c-1.99-0.459-3.138-0.689-3.521-0.689c-13.165,1.378-19.747,2.679-19.747,3.904h-1.378l-2.143-0.383\
  c-0.383,0.229-0.995,0.383-1.761,0.383v-0.383c-4.669,0.536-10.409,1.531-17.221,2.832v-0.383l-9.491,2.143\
  c-3.674,7.883-5.664,14.466-6.046,19.67c-2.909,12.094-5.971,22.426-9.108,30.998c-0.459,3.521-0.918,5.281-1.454,5.281h-0.307\
  c-0.382,0-0.765-0.612-1.071-1.761c0.842-1.606,1.99-4.898,3.521-9.873c0.689-2.373,1.531-4.592,2.449-6.658\
  c0-0.46-0.229-0.689-0.688-0.689c-0.612,0.459-1.531,2.603-2.832,6.353c-0.535,0.383-1.76,3.674-3.521,9.797\
  c-0.536,0-1.454,2.679-2.832,8.113c-2.832,3.75-4.21,5.97-4.21,6.735c-2.143,3.98-3.979,5.97-5.587,5.97h-0.766\
  c-0.229,0-0.612-0.383-0.995-1.071c0.23,0,0.307-0.153,0.307-0.383h-0.307l-0.765,0.383c-0.536-0.229-0.843-0.383-0.995-0.383\
  c0,0.612-1.072,1.225-3.215,1.761c-2.679,0-4.669-1.302-5.97-3.827l-3.521-10.256v-1.761h0.688c0,0.229,0.153,0.536,0.383,1.071\
  c-0.229,0.536-0.383,0.842-0.383,1.072l1.761,1.071v-0.383c0-4.133-0.689-8.343-2.067-12.629v-1.071\
  c0.077-0.459,0.307-0.689,0.689-0.689l1.071,0.689h0.307l-0.307-1.761v-0.688c0.076-0.536,0.307-0.766,0.688-0.766l-0.382-1.76\
  v-2.067c0-1.76,0.382-2.679,1.071-2.831h0.688v1.377l0.383,2.526h-0.383c0.536,2.525,1.301,3.826,2.144,3.826v-4.898\
  c0-1.76,0.382-2.679,1.071-2.831h0.306c1.454,0.535,2.144,2.143,2.144,4.898v4.975c0,5.511,1.301,9.261,3.827,11.251\
  c0.918,0,1.606,0.229,2.143,0.688h0.688c0-0.383,0.383-0.918,1.072-1.76l-0.689-1.378c3.139-10.103,6.43-19.288,9.874-27.478\
  c0-0.688,1.301-4.362,3.827-10.944c0-0.229,1.684-5.588,4.975-16.15l-0.766-0.382c-0.688,0-1.607,0.229-2.755,0.688\
  c-0.383-0.229-0.843-0.306-1.454-0.306c-2.22,0.612-4.517,1.684-7.042,3.138c-0.383,0.229-0.842,0.383-1.378,0.383l-0.383-0.689\
  v-0.765l0.689-0.995c-0.229,0-0.307-0.153-0.307-0.383c-2.296,0-5.204,0.918-8.802,2.832h-0.688c-0.307,0-0.689-0.383-1.072-1.072\
  v-0.382c0-0.536,1.072-1.225,3.139-2.067v-0.689l-2.449,0.307c-1.301,0-2.22-0.612-2.832-1.761v-0.306\
  c0-0.918,2.373-1.531,7.041-1.76c0-0.536-0.918-0.995-2.831-1.454v-1.072c0-0.612,1.301-1.071,3.903-1.377\
  c2.372-0.459,3.521-1.378,3.521-2.832c0.842-0.842,2.755-1.454,5.664-1.76v0.382c1.454-0.459,2.372-0.688,2.755-0.688l0.766,0.306\
  h0.153l0.229-0.077c0.306-0.077,0.612-0.153,0.995-0.229l1.76,0.306l4.593-0.689v0.383c2.22,0,3.979-2.373,5.281-7.042H407.947z\
  M371.667,135.868l0.689-0.306h2.143l0.307-1.454c-2.679-1.378-4.439-2.449-5.281-3.139c-1.914-2.832-2.909-4.209-3.139-4.209\
  c0,0.229-0.152,0.306-0.382,0.306c1.989,5.435,3.75,8.113,5.28,8.113L371.667,135.868z M369.525,111.605\
  c0.076,0.46,0.306,0.689,0.688,0.689v-0.307l-0.306-2.525h-0.383V111.605z M371.285,120.79h0.689v-0.383l-0.689-2.449h-0.688\
  L371.285,120.79z M380.086,135.562c2.603-1.302,3.904-3.444,3.904-6.353c-2.832,0.535-4.21,1.684-4.21,3.521\
  c0,1.301-0.153,2.066-0.383,2.449L380.086,135.562z M386.44,109.845c0-0.077,0-0.229,0.076-0.612l0.076-0.307l0.077-0.383\
  c0.076-0.306,0.076-0.612,0.153-0.842c-0.536,0-0.843,0.689-1.072,2.144H386.44z M386.823,106.707c0.229,0,0.611-0.383,0.994-1.071\
  v-0.688c-0.383,0.229-0.765,0.306-0.994,0.306V106.707z M387.817,104.181h0.766v-0.688h-0.766V104.181z M399.145,99.283h0.688\
  v-1.761h-0.383L399.145,99.283z M399.833,81.679c0.46,0,0.689-0.229,0.689-0.689v-0.383h-0.689V81.679z M401.9,85.2\
  c0,1.071-0.076,1.76-0.306,2.143v0.307h0.306c0-0.459,0.383-0.919,1.072-1.378c-0.229-0.383-0.307-0.766-0.307-1.071H401.9z\
  M426.928,56.345h0.688v-0.383h-0.688V56.345z M429.071,57.034c0.536-0.229,0.843-0.383,0.995-0.383v-0.306h-0.995V57.034z\
  M462.135,54.202h1.072v-0.306h-1.072V54.202z')
  path(d='M446.36,165.896c-4.361,0-5.524-4.418-5.907-5.871l-0.306-1.162l0.524-2.409v-2.902c-0.601-1.054-1.071-2.243-1.071-3.603\
  v-0.281h-1.072c0,0,0-5.05,0-5.075l-4.898-1.531v-12.885h0.689v-9.956l0.689-0.996c0.008-1.664,0.216-4.088,0.617-7.223\
  c-4.561,0.583-6.704,1.18-7.65,1.53l-2.105,6.316l0.157,0.563v0.682c0,0.767,0,2.047-2.404,8.641l-3.566,11.482v7.456h-1.588\
  c-0.241,1.182-0.549,2.932-0.91,5.496l-0.271,1.92l-4.642,3.836h-1.799c-1.277,0-3.682-0.474-5.443-3.645l-0.628-1.132v-3.214\
  l0.116-0.529c0.395-1.798,0.794-3.407,1.213-4.874h-1.61c-1.276,0-3.68-0.473-5.441-3.642l-0.63-1.133v-2.046l0.148-0.828\
  l-0.879-1.583l0.969-1.713h-0.064l0.965-5.818c0.431-2.596,2.366-4.483,4.831-4.817v-4.646h1.135\
  c0.435-1.144,1.019-2.076,1.697-2.819v-0.6c0-1.964,0.688-4.25,2.249-7.354c-0.66-0.897-1.149-2.015-1.392-3.364\
  c-0.437-0.867-0.751-1.982-0.847-3.417l-0.123-1.849l1.112-1.482c1.47-1.959,4.055-3.19,9.387-4.422\
  c0.343-0.366,1.046-1.263,2.125-3.32l0.361-0.688l0.198-1.275c0.289-1.866,0.878-5.666,2.772-8.246v-1.089l0.633-1.135\
  c1.788-3.206,3.167-5.475,4.625-6.863c3.999-8.425,4.542-10.763,4.616-11.248v-1.179l0.623-1.128\
  c2.793-5.058,4.485-8.639,5.171-10.948l1.063-3.575h3.081c0.237-0.065,0.533-0.144,0.89-0.233l0.987-0.247\
  c0,0,1.481,0.234,1.515,0.239c0.684-0.29,1.438-0.448,2.232-0.448c0.036,0,0.071,0,0.106,0.001l1.376-0.55l2.109,1.23\
  c4.555,2.658,5.235,6.245,5.235,8.146v0.377c0.249,0.641,0.383,1.339,0.383,2.072c0,0.482-0.064,0.951-0.184,1.396l0.618,4.262\
  l-0.102,0.712c-0.159,1.113-0.406,2.046-0.715,2.828c-0.001,0.673-0.108,1.312-0.306,1.901v1.667l-0.217,1.216\
  c0.126,0.452,0.217,0.967,0.217,1.555v0.153l-0.009,0.152c-0.082,1.333-0.198,3.243-0.68,5.055v3.68l-1.027,1.344\
  c-0.186,0.243-0.309,0.429-0.387,0.561c0.096,1.352,0.176,2.402,0.233,3.149c0.064,0.844,0.098,1.389,0.107,1.633\
  c1.133-0.067,2.2-0.135,3.145-0.202c0.483-0.044,0.904-0.066,1.248-0.078v-1.466h4.456c0.161-0.038,1.958-0.467,2.933-0.694\
  c0.86-0.227,1.803-0.471,2.83-0.737c2.06-0.533,4.466-1.156,7.242-1.913l4.14-1.13l0.711,1.598l0.011-0.006v0.03l1.761,3.958v1.444\
  c0,1.107-0.23,2.012-0.689,2.763v0.758c0,4.258-3.53,5.818-13.409,8.452c-1.532,2.219-3.602,2.518-4.602,2.518h-1.581\
  c-1.855,0.137-3.542,0.372-5.053,0.702v2.034l-2.785,2.784c0.002,0.006,0.005,0.012,0.007,0.018h1.4v19.524l-1.366,1.251\
  c-0.097,0.258-0.299,0.929-0.413,2.255l-0.109,1.277l0.127,0.255v3.124l-0.295,0.82c-0.118,0.328-0.244,0.677-0.383,1.038h0.014\
  l1.354,6.222v1.916c0,2.5-1.416,4.534-3.521,5.363v4.123c0.601,1.054,1.072,2.244,1.072,3.602c0,3.708-1.973,6.562-5.414,7.83\
  l-0.837,0.309H446.36z')
  path(d='M449.575,48.614c1.837,1.072,2.755,2.373,2.755,3.827l-0.306,1.76c0.459,0.077,0.688,0.306,0.688,0.689\
  c0,0.229-0.153,0.382-0.383,0.382l0.766,5.281c-0.229,1.607-0.612,2.449-1.071,2.449l0.306,0.689v0.383\
  c0,0.459-0.229,0.689-0.688,0.689l0.383,0.688v1.761l-0.383,2.143c0.229,0.536,0.383,0.842,0.383,1.072\
  c-0.229,3.75-0.689,5.587-1.454,5.587v1.454h0.765v0.307c-0.994,1.301-1.454,2.372-1.454,3.214\
  c0.229,3.291,0.383,5.052,0.383,5.281c-0.306,0-0.688,0.383-1.071,1.071c0.459,2.066,0.918,3.139,1.378,3.139\
  c1.378,0.459,2.908,0.688,4.592,0.688c1.302-0.076,2.526-0.153,3.598-0.229c0.842-0.076,1.378-0.076,1.684-0.076v0.688\
  c-0.536,0-1.684,0.383-3.521,1.071v0.307c0,0.688,0.459,1.071,1.454,1.071c3.291,0,6.506-0.842,9.797-2.449h2.832\
  c2.22,0,4.21-0.459,5.97-1.454v0.383l0.766-0.383h0.306v0.383c0,0.688-3.979,2.143-11.939,4.209\
  c-0.307,1.148-0.688,1.761-1.071,1.761h-1.761c-5.435,0.383-9.797,1.53-13.012,3.521v0.383c0.919,0,1.378,0.076,1.378,0.307\
  l0.688-0.307c0.307,0,0.689,0.383,1.072,1.071v0.689l-3.827,3.827l0.688,1.071v1.071c0.536,0,0.919,0.842,1.071,2.449\
  c-0.535,0-0.842,0.688-1.071,2.143h0.307l1.071-0.688h0.383v7.348c0,0.229-0.153,0.383-0.383,0.383l0.383,0.688v3.904\
  c-0.919,0.842-1.531,2.602-1.761,5.28c-0.383,0-0.688,0.307-1.071,0.995l1.071,2.144v1.071c-0.688,1.913-1.147,2.832-1.454,2.832\
  c-0.535-0.229-0.842-0.383-0.995-0.383v0.383l0.307,0.688c-0.229,1.761-0.307,3.444-0.307,4.898v0.383\
  c0,0.229-0.153,0.307-0.383,0.307c0,0.229,0.153,0.382,0.383,0.382c-0.153,1.914-0.383,2.832-0.765,2.832l0.382,0.689v8.802\
  c0.689,0.995,1.072,1.684,1.072,2.143c0,1.607-0.689,2.603-2.144,3.139c-0.383,0-0.688-0.689-1.071-2.144l0.383-1.76v-4.898\
  c-0.689-0.995-1.071-1.685-1.071-2.144l1.454-11.939c-0.689,0-1.072-0.229-1.072-0.689c0.307-1.607,0.689-2.449,1.072-2.449\
  l-0.383-0.765c0.459-0.766,0.688-1.455,0.688-2.067v-0.688c0-0.536-0.229-0.766-0.688-0.766l-0.689,1.761l0.307,0.766l-1.378,4.516\
  l0.383,1.76l-0.383,0.766c0,0.459,0.229,1.302,0.689,2.449c-0.307,1.378-0.689,2.066-1.072,2.066c0-2.984-0.842-4.516-2.449-4.516\
  l-2.449-0.766v-0.995h0.689v-2.525h-0.689v-0.688h0.689v-2.832c0-0.229,0.152-0.307,0.383-0.307l-0.383-0.688v-9.567l0.688-0.995\
  v-1.454c0-1.53,0.229-4.21,0.766-8.113c0-0.152-0.153-0.459-0.383-0.995l0.383-2.143v-0.383c-0.153-0.688-1.071-0.995-2.832-0.995\
  c-9.644,0.995-14.466,2.449-14.466,4.516l-2.832,8.496l0.383,1.378c0,0.688-0.688,3.062-2.143,7.041l-3.827,12.323v3.214\
  c-0.689,0-1.531,3.291-2.449,9.797l-1.761,1.455c-0.306,0-0.688-0.383-1.071-1.072v-1.377c0.688-3.139,1.454-5.971,2.449-8.496\
  l-0.383-0.689c0.536-1.454,0.766-2.525,0.766-3.138c-0.307,0-0.919-0.842-1.761-2.525c-0.995,0-1.454-0.307-1.454-0.995v-2.525\
  l0.688-0.995v-0.383h-0.994c-0.536,0-1.455,2.372-2.832,7.041c-0.153,0-0.766,0.612-1.761,1.761c-0.306,0-0.688-0.383-1.071-1.071\
  v-0.307l0.383-2.143l-0.383-0.689c0.995-1.76,1.53-3.291,1.76-4.592c2.832-2.756,4.21-5.205,4.21-7.425\
  c0.153,0,0.383-0.306,0.688-0.994c0-0.23-0.076-0.383-0.306-0.383c0.306-2.603,1.378-3.904,3.138-3.904l0.383-1.76\
  c-0.383,0-0.688-0.307-1.071-0.995v-0.383c0-1.53,1.071-4.133,3.138-7.73v-1.76c-1.607,0-2.449-1.072-2.449-3.215\
  c-0.383,0-0.612-0.612-0.688-1.761c0.688-0.918,3.215-1.837,7.424-2.755c1.454-0.689,2.909-2.603,4.516-5.664\
  c0.383,0,0.919-1.071,1.454-3.138c0-0.23-0.152-0.383-0.382-0.383c0.688-4.439,1.684-6.659,2.831-6.659\
  c0,0.229,0.153,0.307,0.383,0.307l0.307-1.378c-0.459,0-0.689-0.383-0.689-1.071c2.22-3.98,3.674-5.971,4.21-5.971\
  c3.751-7.807,5.664-12.628,5.664-14.465c2.832-5.128,4.745-9.108,5.587-11.94c0.077,0,0.536-0.153,1.454-0.383\
  c1.454,0.229,2.373,0.383,2.832,0.383c0.077-0.459,0.307-0.689,0.689-0.689c0.229,0,0.306,0.077,0.306,0.306L449.575,48.614z\
  M405.182,130.586h-0.688c0.076-0.459,0.306-0.688,0.688-0.688V130.586z M405.182,135.868h0.689v-0.688h-0.689V135.868z\
  M407.631,132.73v-0.689c-0.459,0.077-0.688,0.307-0.688,0.689H407.631z M432.277,92.93h0.688v-0.307h-0.688V92.93z M432.66,92.241\
  h0.688v-1.377h-0.383L432.66,92.241z M434.038,86.271c-0.077,0.766-0.153,1.454-0.229,1.99c-0.077,0.383-0.077,0.688-0.077,0.842\
  h0.689c0-1.148,0.229-1.99,0.688-2.525l-0.688-0.307H434.038z M434.42,96.451c-0.23,0.536-0.383,0.842-0.383,1.071\
  c1.301-0.688,2.449-1.071,3.521-1.071v-0.688h-3.521L434.42,96.451z M435.492,84.51v-0.688c-0.536,0.077-0.766,0.307-0.766,0.688\
  H435.492z M436.487,89.103c-0.919,2.144-1.378,3.903-1.378,5.281c2.144-0.229,4.745-0.842,7.73-1.761v-4.592\
  c0-0.229,0.153-0.383,0.383-0.383l-0.383-0.689c0.153-2.066,0.383-3.138,0.688-3.138l-0.306-0.766\
  c0.076-0.459,0.306-0.688,0.688-0.688l-0.383-0.688v-1.378l1.072-1.454c-0.689,0-1.072-0.229-1.072-0.689v-2.831l-0.306-1.761\
  c-1.071,0.536-3.444,5.435-7.042,14.771L436.487,89.103z M435.797,83.056h0.383v-0.688h-0.383V83.056z M436.18,81.679v0.382h0.307\
  c0-0.229,0.152-0.535,0.383-1.071h-0.383L436.18,81.679z M450.57,141.532l0.383,1.76v1.378c0,0.536-0.229,0.766-0.689,0.766\
  l-0.383-0.766v-3.138H450.57z M478.736,86.578v0.382c0,0.536-3.521,1.378-10.562,2.449c0,0.46-1.148,0.689-3.521,0.689v-0.689\
  c0.076,0,1.301-0.306,3.597-0.842c2.603-0.688,5.971-1.53,10.18-2.679L478.736,86.578z')
g
  radialgradient#SVGID_1_(cx='47.8613', cy='97.0845', r='33.7361', gradientunits='userSpaceOnUse')
    stop(offset='0.0025', style='stop-color:#FAA61A')
    stop(offset='0.1982', style='stop-color:#F79F1C')
    stop(offset='0.4887', style='stop-color:#EF8B23')
    stop(offset='0.8365', style='stop-color:#E36A2E')
    stop(offset='1', style='stop-color:#DC5834')
  path(fill='url(#SVGID_1_)', d='M73.693,58.854c0,1.454-1.072,5.741-3.138,12.706h1.071c0.306-3.751,0.918-5.664,1.76-5.664h0.307\
  c0.536,0.076,0.765,0.306,0.765,0.766v0.688c-0.995,1.913-2.066,5.281-3.214,10.18c-2.526,6.582-3.827,10.332-3.827,11.251\
  c0,1.684-0.229,2.525-0.766,2.525c0.23,0.536,0.383,0.842,0.383,0.995c-3.138,6.506-5.205,11.558-6.353,15.154\
  c-0.689,0.307-1.76,2.756-3.138,7.425c-1.148,1.99-2.679,3.979-4.592,5.97c-1.148,2.908-1.76,4.516-1.76,4.898h0.383\
  c2.219-2.22,3.368-3.827,3.521-4.898h0.689v0.383c-4.057,7.96-8.343,11.939-13.012,11.939v-0.382c-2.755,0-5.434,0.918-8.113,2.831\
  c-1.148,0-2.22,0.383-3.214,1.072c-0.536,0-0.995-0.689-1.378-2.144c-0.842,0-2.908-2.066-6.353-6.276\
  c-1.148-2.755-1.761-4.286-1.761-4.592l0.689,0.306c0-0.152,0.153-0.459,0.383-0.994c-0.459-0.766-0.689-1.378-0.689-1.761h-0.383\
  v0.995c0.23,0.535,0.383,0.842,0.383,1.071h-0.383c-0.459,0-0.688-0.229-0.688-0.688v-1.378c0-0.536,0.383-0.766,1.071-0.766\
  l-0.383-0.688c0.23-0.536,0.383-0.842,0.383-1.072l-0.383-0.688c0.23-0.536,0.383-0.842,0.383-1.071\
  c-0.688-0.076-1.071-0.995-1.071-2.756l3.521-11.327l-0.383-0.688c1.148-5.817,2.985-10.716,5.664-14.772\
  c1.454-4.133,2.143-7.194,2.143-9.185l-0.383-2.449l1.378-1.071h0.382c1.301,1.147,2.296,1.761,3.138,1.761h0.383\
  c0.765-2.526,1.377-3.827,1.76-3.827h0.689l0.383,2.066l-2.449,8.113c-0.23,0-0.383,0.152-0.383,0.382v1.378h0.689l2.143-3.827\
  c0.077-0.535,0.306-0.765,0.689-0.765c1.148,2.372,1.76,3.903,1.76,4.592c-0.689,3.827-3.368,13.088-8.113,27.86\
  c-1.607,1.301-2.449,2.984-2.449,4.898c0,1.913,0.689,3.444,2.143,4.592h0.689c3.597-0.918,8.113-5.511,13.394-13.776\
  c1.301-1.99,2.526-5.052,3.827-9.108h0.383l-0.383-0.688c1.454-3.521,3.214-8.726,5.281-15.537\
  c0.536-1.378,1.071-2.067,1.454-2.067h0.306v0.995h0.382c0.459,0,0.689-0.229,0.689-0.688v-1.071c-1.148,0-1.76-0.307-1.76-0.995\
  c0.383-0.995,0.689-1.454,1.071-1.454l0.307,2.143h0.382c1.072-1.225,2.985-6.429,5.664-15.537c0.229-0.229,0.842-0.306,1.76-0.306\
  l-0.383,2.449c0.229,1.607,0.612,2.449,1.072,2.449c0.689-1.455,1.76-4.976,3.138-10.562l1.071-0.689\
  c0.918,0.383,1.378,0.689,1.378,1.072V58.854z M27.234,101.485h0.689v-0.383h-0.689V101.485z M31.444,132.79h0.382\
  c0.536-0.46,0.995-0.689,1.378-0.689v-0.688h-2.067c-0.459,0.076-0.688,0.306-0.688,0.688L31.444,132.79z M31.826,110.67\
  c0.995,0,2.832-4.362,5.664-13.088l-0.766-0.306c0,0.535-0.918,2.219-2.755,4.898c0,0.688-0.688,3.061-2.143,7.041V110.67z\
  M33.586,96.894h0.383l0.306-1.378h-0.689V96.894z M37.107,96.894h0.689l1.76-7.348c-0.842,0-1.454,1.53-1.76,4.516\
  c-0.383,0-0.612,0.612-0.689,1.76V96.894z M37.49,123.987h0.995v-0.994H37.49V123.987z M39.25,88.78h0.689v-0.995H39.25V88.78z\
  M41.7,127.509c0.459,0,0.689-0.23,0.689-0.689H41.7V127.509z M43.766,119.089c0.536,0,0.766-0.229,0.766-0.688h-0.383\
  c-0.459,0.076-0.689,0.306-0.689,0.688H43.766z M45.909,130.341h1.072l0.306-1.378c-0.918,0.383-1.378,0.688-1.378,1.071V130.341z\
  M47.669,128.963h0.689v-0.383h-0.689V128.963z M52.568,106.078c0,0.382-0.229,0.842-0.688,1.377v0.689\
  c0.383,0,0.842-0.612,1.454-1.761v-0.306H52.568z M54.329,96.587c0.536,0,0.765-0.229,0.765-0.766h-0.765V96.587z M55.783,92.301\
  l-0.689,1.071v1.072h0.689l2.449-7.425h-1.071l-1.072,0.766c0.229,0.536,0.383,0.842,0.383,0.995\
  c-0.153,1.913-0.536,2.832-1.072,2.832L55.783,92.301z M57.543,85.642h1.072V85.26h-1.072V85.642z M57.849,84.953\
  c0.995-0.383,1.454-1.147,1.454-2.449c-0.382,0-0.842,0.612-1.454,1.761V84.953z M59.992,76.84c0,0.46-0.229,0.689-0.689,0.689\
  V76.84H59.992z')
  radialgradient#SVGID_2_(cx='104.8721', cy='84.2261', r='53.0448', gradientunits='userSpaceOnUse')
    stop(offset='0.0025', style='stop-color:#FAA61A')
    stop(offset='0.1982', style='stop-color:#F79F1C')
    stop(offset='0.4887', style='stop-color:#EF8B23')
    stop(offset='0.8365', style='stop-color:#E36A2E')
    stop(offset='1', style='stop-color:#DC5834')
  path(fill='url(#SVGID_2_)', d='M144.481,28.927c-1.684,3.062-4.363,11.558-8.113,25.411c-1.913,6.965-4.133,14.007-6.659,21.125\
  h-0.382l0.382,0.688c-1.76,4.669-3.368,9.873-4.975,15.461h-0.306c0-0.229-0.153-0.307-0.383-0.307l0.383-0.766v-1.377h-1.072\
  c-1.914,5.816-3.444,11.251-4.592,16.226c-1.148,0-2.679,3.827-4.592,11.558c-0.459,10.332-1.607,16.149-3.521,17.604\
  c-0.459,0-0.688-0.229-0.688-0.688v-3.521h-0.689c0,0.994-0.612,1.454-1.76,1.454c-0.995,1.147-1.684,2.372-2.143,3.521\
  l0.382,0.688c0,0.077-0.153,0.46-0.382,1.071l0.382,2.067c-0.382,1.071-1.071,1.913-2.143,2.449l0.382,0.765v1.378\
  c0,0.229-0.153,0.383-0.382,0.383l0.382,0.688c-0.306,1.607-0.765,2.449-1.454,2.449c-0.459,0-1.072-1.53-1.76-4.592l0.383-0.689\
  c-0.23-0.382-0.383-0.842-0.383-1.377c0-0.229,0.153-0.383,0.383-0.383c-0.919-2.679-1.378-4.133-1.378-4.21\
  c0.229-0.688,0.459-1.071,0.689-1.071c-1.531-12.476-2.679-18.676-3.521-18.676c-1.607-2.679-3.597-10.179-5.97-22.502\
  c-0.536,0-0.842,0.919-1.072,2.832c0.23,0.383,0.306,0.766,0.306,0.995c-0.536,0-1.684,4.362-3.521,13.088\
  c-3.75,10.792-6.2,16.839-7.348,18.293h-0.689c-0.229,0-0.842-0.689-1.76-2.144c-1.684,6.2-3.368,10.256-4.975,12.017\
  c-0.842,1.302-1.914,3.598-3.138,7.042l-1.454,0.994l-0.306-0.688c0-1.147,0.077-2.372,0.306-3.827v-0.383h-0.306\
  c0,1.531-0.842,2.832-2.449,3.904l-0.383-0.766c1.607-4.669,2.679-8.419,3.138-11.251c2.373-1.914,3.521-3.291,3.521-4.21\
  c0-0.076,0-0.306-0.076-0.612c-0.077-0.459-0.153-0.995-0.229-1.53c0-2.066,0.459-4.363,1.377-7.042h0.383l0.689,0.383l0.382-0.688\
  v-0.689c0-0.535-0.153-1.071-0.382-1.454c0.536-2.832,0.842-4.21,1.071-4.21l-0.383-0.688v-0.688l0.383-1.761\
  c-0.536,0-1.071-0.842-1.454-2.525c1.76-2.526,3.597-7.118,5.664-13.7l-0.382-0.689c3.903-14.083,6.735-21.277,8.496-21.507\
  l2.449-8.113h0.153l0.229-0.076c0.307-0.077,0.612-0.153,0.995-0.229c0,0.229,0.153,0.306,0.383,0.306\
  c0.383-0.383,0.842-3.062,1.378-8.036c-0.459-1.148-0.689-2.22-0.689-3.215l0.689-0.307c0.382,0,0.688,0.307,1.071,0.996v5.663\
  c0,0.306,0.383,0.688,1.071,1.071h0.383c0-0.688,0.229-1.071,0.689-1.071h1.377l0.383,1.761c-0.383,1.071-1.071,1.913-2.143,2.449\
  l1.76,7.73h0.383l1.378-0.995c0.383,0,1.607,6.123,3.521,18.292c2.143,8.267,3.674,13.777,4.592,16.532h0.383\
  c0.536-0.842,2.066-5.663,4.516-14.466c0.995-1.377,2.067-4.975,3.215-10.868c0.689-2.066,1.225-3.138,1.76-3.214\
  c-0.229-0.536-0.383-0.843-0.383-0.995c3.903-12.247,6.276-18.37,7.042-18.37c0.995,0,1.76-1.377,2.449-4.209h0.383l-0.383-0.689\
  c0.689-3.291,1.607-4.898,2.832-4.898c1.148,0,1.837-1.301,2.143-3.902c1.914-5.129,3.444-10.41,4.592-15.844h0.689v2.143\
  c0,0.689-0.459,1.914-1.454,3.827l0.382,0.688c-0.689,1.838-1.148,2.756-1.377,2.832l0.306,0.689\
  c-1.072,2.296-2.143,5.816-3.138,10.562h-0.383c0,0.229,0.153,0.383,0.383,0.383c-0.995,3.597-1.454,5.816-1.454,6.658v0.383h0.383\
  c4.209-9.95,6.353-15.385,6.353-16.227c1.148-1.301,2.679-4.439,4.592-9.49c1.377,0,2.679-2.832,3.827-8.42l0.689-0.382\
  c0.536,0.076,0.765,0.306,0.765,0.688c0,1.761-0.459,3.903-1.454,6.353L144.481,28.927z M73.377,128.58h0.306v-0.688h-0.306V128.58\
  z M80.036,124.753c1.607-3.979,2.449-6.429,2.449-7.424h-0.688c-0.536,0-1.301,2.449-2.449,7.424H80.036z M94.808,99.726h0.689\
  v-1.761l-0.306-1.761h0.306c-0.383-2.449-1.301-4.592-2.755-6.353l-0.765,0.383c0.918,1.301,1.76,3.979,2.525,8.113\
  c-0.229,0-0.383,0.076-0.383,0.306C94.578,98.653,94.808,99.036,94.808,99.726z M102.921,101.103\
  c-0.459,0.077-0.689,0.307-0.689,0.766c1.378,7.96,2.296,11.939,2.832,11.939c0.153-2.066,0.383-3.138,0.688-3.138\
  C104.758,105.695,103.763,102.557,102.921,101.103z M108.891,114.497h0.689v-1.071c-0.459,0.076-0.689,0.306-0.689,0.765V114.497z\
  M109.273,113.119h0.689l0.688-3.215v-0.306c-0.536,0-0.995,1.071-1.377,3.138V113.119z M130.015,69.416\
  c1.148-3.521,1.761-5.511,1.761-5.97h-0.307c-0.536,0-1.225,1.913-2.143,5.664L130.015,69.416z')
  radialgradient#SVGID_3_(cx='156.4121', cy='104.6616', r='47.8009', gradientunits='userSpaceOnUse')
    stop(offset='0.0025', style='stop-color:#FAA61A')
    stop(offset='0.1982', style='stop-color:#F79F1C')
    stop(offset='0.4887', style='stop-color:#EF8B23')
    stop(offset='0.8365', style='stop-color:#E36A2E')
    stop(offset='1', style='stop-color:#DC5834')
  path(fill='url(#SVGID_3_)', d='M164.908,48.521c1.837,1.072,2.755,2.373,2.755,3.828l-0.306,1.76\
  c0.459,0.076,0.688,0.307,0.688,0.689c0,0.229-0.153,0.382-0.382,0.382l0.765,5.281c-0.229,1.607-0.612,2.449-1.071,2.449\
  l0.306,0.688v0.383c0,0.459-0.23,0.689-0.689,0.689l0.383,0.688v1.761l-0.383,2.143c0.229,0.536,0.383,0.842,0.383,1.072\
  c-0.229,3.75-0.689,5.587-1.454,5.587v1.454h0.765v0.307c-0.995,1.301-1.454,2.372-1.454,3.214\
  c0.229,3.291,0.382,5.052,0.382,5.281c-0.306,0-0.688,0.383-1.071,1.071c0.459,2.066,0.918,3.139,1.378,3.139\
  c1.377,0.459,2.908,0.688,4.592,0.688c1.301-0.076,2.526-0.153,3.598-0.229c0.842-0.076,1.377-0.076,1.684-0.076v0.688\
  c-0.536,0-1.684,0.383-3.521,1.071v0.307c0,0.688,0.459,1.071,1.454,1.071c3.291,0,6.506-0.842,9.797-2.449h2.832\
  c2.22,0,4.209-0.459,5.97-1.454v0.383l0.766-0.383h0.306v0.383c0,0.688-3.98,2.143-11.94,4.209\
  c-0.306,1.148-0.689,1.761-1.072,1.761h-1.76c-5.434,0.383-9.797,1.53-13.012,3.521v0.383c0.919,0,1.378,0.076,1.378,0.307\
  l0.689-0.307c0.306,0,0.689,0.383,1.071,1.071v0.689l-3.827,3.827l0.688,1.071v1.071c0.536,0,0.919,0.842,1.072,2.449\
  c-0.536,0-0.842,0.688-1.072,2.143h0.307l1.071-0.688h0.383v7.348c0,0.229-0.153,0.383-0.383,0.383l0.383,0.688v3.904\
  c-0.918,0.842-1.531,2.602-1.761,5.28c-0.382,0-0.688,0.307-1.071,0.995l1.071,2.144v1.071c-0.688,1.913-1.148,2.832-1.454,2.832\
  c-0.536-0.229-0.842-0.383-0.995-0.383v0.383l0.307,0.688c-0.23,1.761-0.307,3.444-0.307,4.898v0.383\
  c0,0.229-0.153,0.307-0.382,0.307c0,0.229,0.153,0.382,0.382,0.382c-0.153,1.914-0.382,2.832-0.765,2.832l0.383,0.689v8.802\
  c0.689,0.995,1.071,1.684,1.071,2.143c0,1.607-0.689,2.603-2.143,3.139c-0.383,0-0.688-0.689-1.071-2.144l0.383-1.76v-4.898\
  c-0.689-0.995-1.072-1.685-1.072-2.144l1.454-11.939c-0.689,0-1.071-0.229-1.071-0.689c0.306-1.607,0.689-2.449,1.071-2.449\
  l-0.382-0.765c0.459-0.766,0.688-1.455,0.688-2.067v-0.688c0-0.536-0.229-0.766-0.688-0.766l-0.689,1.761l0.306,0.766l-1.378,4.516\
  l0.383,1.76l-0.383,0.766c0,0.459,0.229,1.302,0.689,2.449c-0.306,1.378-0.689,2.066-1.072,2.066c0-2.984-0.842-4.516-2.449-4.516\
  l-2.449-0.766V138.3h0.689v-2.525h-0.689v-0.688h0.689v-2.832c0-0.229,0.153-0.307,0.383-0.307l-0.383-0.688v-9.567l0.689-0.995\
  v-1.454c0-1.53,0.229-4.21,0.766-8.113c0-0.152-0.153-0.459-0.383-0.995l0.383-2.143v-0.383c-0.153-0.688-1.072-0.995-2.832-0.995\
  c-9.644,0.995-14.466,2.449-14.466,4.516l-2.832,8.496l0.383,1.378c0,0.688-0.689,3.062-2.143,7.041l-3.827,12.323v3.214\
  c-0.689,0-1.531,3.291-2.449,9.797l-1.761,1.455c-0.306,0-0.688-0.383-1.071-1.072v-1.377c0.688-3.139,1.454-5.971,2.449-8.496\
  l-0.383-0.689c0.536-1.454,0.766-2.525,0.766-3.138c-0.307,0-0.919-0.842-1.761-2.525c-0.995,0-1.454-0.307-1.454-0.995v-2.525\
  l0.689-0.995v-0.383h-0.995c-0.536,0-1.454,2.372-2.832,7.041c-0.153,0-0.765,0.612-1.76,1.761c-0.306,0-0.689-0.383-1.071-1.071\
  v-0.307l0.382-2.143l-0.382-0.689c0.995-1.76,1.53-3.291,1.76-4.592c2.832-2.756,4.209-5.205,4.209-7.425\
  c0.153,0,0.383-0.306,0.689-0.994c0-0.23-0.077-0.383-0.306-0.383c0.306-2.603,1.377-3.904,3.138-3.904l0.383-1.76\
  c-0.383,0-0.688-0.307-1.071-0.995v-0.383c0-1.53,1.071-4.133,3.138-7.73v-1.76c-1.607,0-2.449-1.072-2.449-3.215\
  c-0.382,0-0.612-0.612-0.688-1.761c0.688-0.918,3.214-1.837,7.424-2.755c1.455-0.689,2.909-2.603,4.516-5.664\
  c0.382,0,0.918-1.071,1.454-3.138c0-0.23-0.153-0.383-0.383-0.383c0.689-4.439,1.684-6.659,2.832-6.659\
  c0,0.229,0.153,0.307,0.383,0.307l0.306-1.378c-0.459,0-0.689-0.383-0.689-1.071c2.22-3.98,3.674-5.971,4.209-5.971\
  c3.75-7.807,5.664-12.628,5.664-14.466c2.832-5.127,4.745-9.107,5.587-11.939c0.077,0,0.536-0.153,1.455-0.383\
  c1.454,0.229,2.373,0.383,2.832,0.383c0.077-0.459,0.307-0.689,0.689-0.689c0.23,0,0.306,0.077,0.306,0.307L164.908,48.521z\
  M120.516,130.493h-0.689c0.077-0.459,0.306-0.688,0.689-0.688V130.493z M120.516,135.774h0.689v-0.688h-0.689V135.774z\
  M122.965,132.637v-0.689c-0.459,0.077-0.689,0.307-0.689,0.689H122.965z M147.61,92.837h0.689V92.53h-0.689V92.837z\
  M147.993,92.147h0.689v-1.377h-0.383L147.993,92.147z M149.371,86.178c-0.077,0.766-0.153,1.454-0.23,1.99\
  c-0.077,0.383-0.077,0.688-0.077,0.842h0.689c0-1.148,0.23-1.99,0.689-2.525l-0.689-0.307H149.371z M149.753,96.357\
  c-0.229,0.536-0.382,0.842-0.382,1.071c1.301-0.688,2.449-1.071,3.521-1.071v-0.688h-3.521L149.753,96.357z M150.825,84.417v-0.688\
  c-0.536,0.077-0.766,0.307-0.766,0.688H150.825z M151.82,89.01c-0.919,2.144-1.378,3.903-1.378,5.281\
  c2.143-0.229,4.745-0.842,7.73-1.761v-4.592c0-0.229,0.153-0.383,0.383-0.383l-0.383-0.689c0.153-2.066,0.383-3.138,0.688-3.138\
  l-0.306-0.766c0.076-0.459,0.306-0.688,0.688-0.688l-0.383-0.688v-1.378l1.072-1.454c-0.689,0-1.072-0.229-1.072-0.689v-2.831\
  l-0.306-1.761c-1.072,0.536-3.444,5.435-7.042,14.771L151.82,89.01z M151.131,82.963h0.382v-0.688h-0.382V82.963z M151.513,81.586\
  v0.382h0.307c0-0.229,0.153-0.535,0.382-1.071h-0.382L151.513,81.586z M165.903,141.438l0.382,1.76v1.378\
  c0,0.536-0.229,0.766-0.689,0.766l-0.382-0.766v-3.138H165.903z M194.069,86.484v0.382c0,0.536-3.521,1.378-10.562,2.449\
  c0,0.46-1.148,0.689-3.521,0.689v-0.689c0.076,0,1.301-0.306,3.597-0.842c2.602-0.688,5.97-1.53,10.179-2.679L194.069,86.484z')
  radialgradient#SVGID_4_(cx='224.3975', cy='103.7437', r='44.9653', gradientunits='userSpaceOnUse')
    stop(offset='0.0025', style='stop-color:#FAA61A')
    stop(offset='0.1982', style='stop-color:#F79F1C')
    stop(offset='0.4887', style='stop-color:#EF8B23')
    stop(offset='0.8365', style='stop-color:#E36A2E')
    stop(offset='1', style='stop-color:#DC5834')
  path(fill='url(#SVGID_4_)', d='M186.32,126.819c0.536,0.077,0.766,0.307,0.766,0.689c0,0.535-0.23,0.765-0.766,0.765h-0.306\
  c-0.459,0-0.689-0.229-0.689-0.765c0.077-0.46,0.306-0.689,0.689-0.689H186.32z M235.993,54.644v2.449h1.377l1.454-1.377\
  c0,0.459,0.689,0.918,2.067,1.377c1.071-0.459,2.602-0.688,4.592-0.688h2.143c6.429,0,11.71,2.603,15.843,7.73\
  c0,8.189-2.679,14.542-8.113,19.058c-3.521,1.685-5.281,2.603-5.281,2.832c5.587,1.072,8.419,2.373,8.419,3.827\
  c1.914,1.454,2.832,2.22,2.832,2.449s-0.077,0.383-0.306,0.383c0.459,1.071,0.689,2.22,0.689,3.521\
  c0,1.148-1.072,3.674-3.215,7.425c0,2.296-2.679,5.587-8.037,9.797c-0.688,0-2.449,1.147-5.281,3.521\
  c-7.271,4.209-12.706,6.353-16.226,6.353c-1.454,0.153-3.444,1.225-5.97,3.215c-4.975,1.301-7.424,3.291-7.424,5.97\
  c-1.99,0-3.291,1.761-3.827,5.281c-1.225,4.439-2.679,6.658-4.286,6.658c-0.689,1.072-1.148,2.449-1.377,4.21l0.382,0.766\
  c-0.382,1.301-1.071,2.296-2.143,3.138l-0.383-0.688c0-1.684,0.459-4.362,1.455-8.113c-0.995,0-1.455-0.229-1.455-0.688v-0.383\
  c0.383-0.612,0.919-2.603,1.761-5.97c0.306,0,0.765-1.378,1.454-4.21c-0.229-0.536-0.383-0.842-0.383-1.071h-0.306\
  c-3.214,1.454-5.357,2.143-6.353,2.143h-0.383l2.449-1.76v-0.383h-1.76l-1.76-1.378c-0.536,0-4.286,1.148-11.251,3.521h-0.306\
  l-0.383-0.765v-0.689c0-0.535,1.913-1.225,5.664-2.066l0.306-0.766c-1.071-0.535-1.684-0.995-1.76-1.377\
  c0.995-0.689,3.062-1.148,6.353-1.378v-0.766h-0.689v-0.995c0-2.832,2.449-4.439,7.348-4.975c2.832-0.766,4.286-2.144,4.286-4.21\
  c1.378-2.066,2.985-6.889,4.898-14.466c-0.229-1.454-0.382-2.372-0.382-2.755h-0.689c-1.148,0-3.903,0.612-8.113,1.76h-0.995\
  c-0.536,0-0.766-0.229-0.766-0.765c0-0.689,2.603-1.837,7.807-3.521v-0.688c-0.995,0-1.454-0.383-1.454-1.071\
  c1.071-1.378,3.521-2.756,7.424-4.21c0.842-2.066,2.22-7.348,4.21-15.843h-1.378l-1.76,0.382l-0.383-0.688v-0.766\
  c0.306-0.766,1.225-1.454,2.832-2.066c-0.459-0.766-0.689-1.377-0.689-1.76c0.842-1.148,1.531-1.761,2.066-1.761v-1.071\
  l-1.377-0.383c-1.301,0.766-2.603,1.225-3.904,1.454l-0.306-0.688c0.229-2.221,2.449-3.751,6.659-4.593\
  c2.066-2.22,3.827-4.516,5.281-7.042h0.383l0.689,1.072l-0.689,0.994v1.455l3.138,0.688c1.607,0,3.062-1.913,4.209-5.663h0.383\
  L235.993,54.644z M193.361,133.861l1.072,0.688h2.143v0.766c-1.837,0.688-3.214,0.995-4.209,0.995l-0.382-0.689\
  c0.306-1.147,0.688-1.76,1.071-1.76H193.361z M193.055,129.651h0.306c0.536,0,0.765-0.229,0.765-0.688h-1.071V129.651z\
  M197.265,134.933v-0.383c0-0.535,0.842-0.842,2.449-0.995c0,0.307-0.689,0.766-2.066,1.378H197.265z M199.714,151.848v0.306\
  c-0.459,1.148-0.918,1.685-1.377,1.761h-0.383v-0.995c0-0.306,0.383-0.688,1.071-1.071H199.714z M203.923,128.273\
  c1.301,0,2.22-0.459,2.832-1.454h-0.688c-2.373,0.307-3.521,0.766-3.521,1.454H203.923z M209.97,136.311h1.76v-0.995h-1.072\
  c-0.459,0.076-0.688,0.306-0.688,0.688V136.311z M210.659,94.827h2.067c0.382,0,1.071-0.689,2.143-2.144h-0.383\
  c-2.526,0.383-3.827,0.842-3.827,1.378V94.827z M211.348,134.244c0.459,0,0.689-0.229,0.689-0.689l-0.689-0.383V134.244z\
  M221.527,114.497l0.765,0.383h4.898c4.746,0,10.716-2.908,17.987-8.802c1.377-2.832,2.066-5.128,2.066-6.735\
  c0-1.302-0.383-2.526-1.072-3.521v-0.306c0.077-0.459,0.383-0.688,0.766-0.688c0.229,0,1.301,1.147,3.138,3.521h0.689\
  c0-1.607-0.842-3.215-2.449-4.976v-0.688l0.382-0.688c-1.301-0.995-2.143-1.455-2.526-1.455l-9.49,3.215\
  c0,0.153-1.072,0.612-3.138,1.378c-0.153,0-0.459,0-0.842-0.076c-0.536-0.077-1.225-0.153-1.99-0.229\
  c-2.679,0-4.439,2.908-5.281,8.802C224.436,105.389,223.135,108.986,221.527,114.497z M230.329,124.37\
  c0,0.459-0.229,0.689-0.689,0.689v-0.689H230.329z M237.753,69.799h-1.76c-0.842,0-2.143,3.903-3.904,11.634l0.383,0.688\
  c-0.229,0.536-0.383,0.842-0.383,1.071h0.383c7.884-2.679,13.777-6.123,17.604-10.256c0.689-1.684,1.071-2.602,1.071-2.755\
  c-1.454-0.307-2.143-0.688-2.143-1.071v-0.383h2.143c1.378,0,2.067-0.689,2.067-2.066c-1.607-1.148-3.598-1.761-5.97-1.761h-0.306\
  c-7.577,1.913-11.328,3.138-11.328,3.827c0.383,0.229,1.148,0.383,2.143,0.383V69.799z M239.896,89.163h0.689V88.78h-0.689V89.163z\
  M249.387,82.121h0.306v-0.688l-5.587,2.066c0.077,0.536,0.306,0.766,0.689,0.766L249.387,82.121z M249.387,59.236h2.449v-0.383\
  l-2.449-0.688c-0.459,0.076-0.689,0.307-0.689,0.688L249.387,59.236z M250.765,110.977h1.071v-0.307h-1.071V110.977z\
  M253.214,108.145c0,0.383-0.23,0.918-0.689,1.454h0.382c0.383-0.229,0.842-0.383,1.378-0.383v-0.307\
  c0-0.535-0.229-0.765-0.689-0.765H253.214z M254.668,60.308l0.688,0.307h1.072v-0.689c-0.536,0-1.072-0.076-1.454-0.306\
  L254.668,60.308z M258.878,97.582h1.377v-0.306c0-0.46-0.229-0.689-0.688-0.689c-0.459,0.076-0.689,0.307-0.689,0.689V97.582z')
  radialgradient#SVGID_5_(cx='302.917', cy='104.4702', r='48.1183', gradientunits='userSpaceOnUse')
    stop(offset='0.0025', style='stop-color:#FAA61A')
    stop(offset='0.1982', style='stop-color:#F79F1C')
    stop(offset='0.4887', style='stop-color:#EF8B23')
    stop(offset='0.8365', style='stop-color:#E36A2E')
    stop(offset='1', style='stop-color:#DC5834')
  path(fill='url(#SVGID_5_)', d='M289.178,63.293v1.378l-0.383,2.449c1.377,0,2.449-1.148,3.215-3.521l0.688-0.306h0.383\
  l-0.383,1.761c0.229,0.535,0.383,0.842,0.383,1.071l11.939-0.766l1.761,0.383c1.378-0.229,2.755-0.383,4.209-0.383l0.383,0.766\
  v0.688l-0.383,0.689c1.761,0.306,4.439,1.836,8.113,4.592c0.689,0,1.531,0.689,2.449,2.066v1.072c0,0.765-0.229,2.449-0.688,4.975\
  c0.459,0.076,0.688,0.306,0.688,0.688c0,4.363-3.597,8.496-10.868,12.323c-2.525,2.066-7.807,4.438-15.844,7.041v0.307\
  l28.473,21.507c0,1.301,0.688,2.603,2.143,3.903c-0.229,0.383-0.382,0.842-0.382,1.378c0.688,0.842,2.296,2.22,4.975,4.21\
  c0,0.229,1.071,1.225,3.138,2.831l1.071,1.378v0.766c0,0.459-0.229,0.688-0.688,0.688h-0.383c-6.199-5.128-9.797-7.73-10.944-7.73\
  v1.378c0,0.383,1.53,1.454,4.592,3.139v2.143l-0.688,1.071l9.49,7.348c1.761,0.612,3.98,2.144,6.735,4.593\
  c1.531,0.459,2.449,0.688,2.756,0.688v-0.688c0-0.229-0.842-1.225-2.449-2.832l0.688-0.307c0.612,0.077,2.296,1.761,4.976,4.898\
  v1.761c0,0.306-0.383,0.688-1.072,1.071l-10.944-7.424c-1.607-1.148-2.832-1.761-3.521-1.761v0.383l1.454,1.761\
  c0,0.459-0.229,0.688-0.688,0.688c0-0.536-1.071-1.761-3.215-3.827c-2.679-3.291-5.894-6.046-9.49-8.112\
  c-2.908-2.22-7.271-5.128-13.012-8.802c-7.653-4.669-12.935-8.572-15.843-11.635c0-1.606-3.751-3.674-11.251-6.353h-0.383\
  c-0.536,0-1.225,1.761-2.143,5.281c-1.914,4.669-4.363,11.863-7.348,21.508c0,0.842-1.76,2.449-5.281,4.898\
  c-1.377,9.873-2.679,14.771-3.903,14.771l-0.306-0.688c0.077-1.148,0.306-1.761,0.689-1.761l-0.383-0.688\
  c2.832-10.104,4.209-16.303,4.209-18.676l-1.76-0.306h-0.689c-0.382,0.076-1.148,2.372-2.449,7.041l-3.138,1.378\
  c0-0.229-0.153-0.383-0.382-0.383c0-0.995,1.148-2.908,3.521-5.587c0.842-2.679,1.99-5.205,3.521-7.73\
  c0-1.914,1.071-6.047,3.138-12.323c-0.536,0-0.842-0.612-0.995-1.76c2.373-6.43,3.521-9.95,3.521-10.562\
  c-3.444-1.913-5.893-3.75-7.424-5.664v-0.383c0.23-0.688,0.919-0.994,2.144-0.994l-1.455-2.144l0.689-0.383\
  c1.607,0.766,3.674,1.225,6.353,1.454l0.383-0.688c-0.612,0-1.225-0.612-1.76-1.761c0-0.306,0.382-0.688,1.071-1.071h0.995\
  l1.072,0.688c1.607,0,2.449-0.918,2.449-2.832v-0.688l-0.995-1.378v-0.383c1.377-1.377,2.22-2.755,2.449-4.209l-0.383-1.454\
  c0.689-1.148,1.071-2.066,1.071-2.756v-1.071c-0.688,0-1.071-0.153-1.071-0.383c-4.363,1.914-7.194,2.832-8.419,2.832\
  c-0.307,0-0.689-0.383-1.072-1.071v-0.307c2.22-2.372,4.822-3.903,7.73-4.592l1.76,0.306h1.071c0-2.449,0.842-5.357,2.449-8.802\
  c0-1.454,0.383-2.296,1.072-2.449h2.449c0-0.306,0.842-0.919,2.449-1.761c0-0.842,0.843-1.453,2.526-1.76\
  c0.842-2.985,1.761-4.822,2.755-5.588c0,0.383,0.46,0.842,1.455,1.378c-0.383,0.766-1.148,3.444-2.144,8.113H289.178z\
  M267.67,133.708c1.684,0,2.526-1.378,2.526-4.21h-0.382c-1.455,0-2.373,1.072-2.832,3.139c0.229,0.535,0.383,0.842,0.383,1.071\
  H267.67z M289.561,80.896c0.076,0.46,0.306,0.689,0.688,0.689c4.057-0.919,6.889-1.378,8.419-1.378v0.688\
  c-7.271,1.225-10.868,2.603-10.868,4.21c-1.913,4.057-2.832,6.812-2.832,8.113c0.459,0,0.688,0.076,0.688,0.306l0.689-0.306h1.071\
  c5.894,0,10.18-1.302,13.012-3.904c4.133-2.602,7.041-5.51,8.802-8.802l-2.449-0.306l-1.071,0.688h-0.307l-0.766-0.383l0.383-0.688\
  v-1.071c-2.066-0.229-3.827-0.307-5.281-0.307h-1.071c-6.047,0-9.107,0.689-9.107,2.066V80.896z M286.04,96.357h0.307\
  c1.53,0,3.291-0.229,5.281-0.688v-0.383c-0.23,0-0.612-0.077-1.072-0.307c-2.066,0.459-3.521,0.689-4.516,0.689V96.357z\
  M293.082,102.71c1.607,1.607,3.062,2.449,4.209,2.449v-0.306c-0.229-0.843-1.684-1.685-4.209-2.526V102.71z M294.077,75.233h0.383\
  l10.179-2.832v-0.307c-1.454,0-2.602-0.152-3.521-0.383c-0.918,0.459-2.22,0.689-3.827,0.689c0,1.454-1.071,2.143-3.214,2.143\
  V75.233z M308.542,118.937c0.536,0,0.995,1.147,1.378,3.521c2.373,0.918,4.286,1.378,5.664,1.378v-0.383\
  c-3.368-3.521-5.587-5.281-6.659-5.281L308.542,118.937z')
  radialgradient#SVGID_6_(cx='346.8408', cy='97.0845', r='33.7363', gradientunits='userSpaceOnUse')
    stop(offset='0.0025', style='stop-color:#FAA61A')
    stop(offset='0.1982', style='stop-color:#F79F1C')
    stop(offset='0.4887', style='stop-color:#EF8B23')
    stop(offset='0.8365', style='stop-color:#E36A2E')
    stop(offset='1', style='stop-color:#DC5834')
  path(fill='url(#SVGID_6_)', d='M372.672,58.854c0,1.454-1.072,5.741-3.139,12.706h1.072c0.306-3.751,0.918-5.664,1.76-5.664h0.307\
  c0.535,0.076,0.766,0.306,0.766,0.766v0.688c-0.995,1.913-2.067,5.281-3.215,10.18c-2.526,6.582-3.827,10.332-3.827,11.251\
  c0,1.684-0.229,2.525-0.766,2.525c0.229,0.536,0.383,0.842,0.383,0.995c-3.138,6.506-5.204,11.558-6.353,15.154\
  c-0.688,0.307-1.761,2.756-3.138,7.425c-1.148,1.99-2.679,3.979-4.593,5.97c-1.148,2.908-1.76,4.516-1.76,4.898h0.382\
  c2.22-2.22,3.368-3.827,3.521-4.898h0.688v0.383c-4.057,7.96-8.343,11.939-13.012,11.939v-0.382c-2.755,0-5.434,0.918-8.113,2.831\
  c-1.147,0-2.219,0.383-3.214,1.072c-0.536,0-0.995-0.689-1.378-2.144c-0.842,0-2.908-2.066-6.353-6.276\
  c-1.148-2.755-1.761-4.286-1.761-4.592l0.689,0.306c0-0.152,0.152-0.459,0.383-0.994c-0.46-0.766-0.689-1.378-0.689-1.761h-0.383\
  v0.995c0.229,0.535,0.383,0.842,0.383,1.071h-0.383c-0.459,0-0.688-0.229-0.688-0.688v-1.378c0-0.536,0.383-0.766,1.071-0.766\
  l-0.383-0.688c0.229-0.536,0.383-0.842,0.383-1.072l-0.383-0.688c0.229-0.536,0.383-0.842,0.383-1.071\
  c-0.688-0.076-1.071-0.995-1.071-2.756l3.521-11.327l-0.383-0.688c1.148-5.817,2.985-10.716,5.664-14.772\
  c1.454-4.133,2.143-7.194,2.143-9.185l-0.382-2.449l1.377-1.071h0.383c1.302,1.147,2.296,1.761,3.139,1.761h0.382\
  c0.766-2.526,1.378-3.827,1.761-3.827h0.688l0.383,2.066l-2.449,8.113c-0.229,0-0.383,0.152-0.383,0.382v1.378h0.689l2.143-3.827\
  c0.077-0.535,0.307-0.765,0.689-0.765c1.147,2.372,1.76,3.903,1.76,4.592c-0.688,3.827-3.367,13.088-8.112,27.86\
  c-1.607,1.301-2.449,2.984-2.449,4.898c0,1.913,0.688,3.444,2.143,4.592h0.688c3.598-0.918,8.113-5.511,13.395-13.776\
  c1.301-1.99,2.525-5.052,3.827-9.108h0.383l-0.383-0.688c1.454-3.521,3.215-8.726,5.281-15.537\
  c0.535-1.378,1.071-2.067,1.454-2.067h0.306v0.995h0.383c0.46,0,0.689-0.229,0.689-0.688v-1.071c-1.148,0-1.761-0.307-1.761-0.995\
  c0.383-0.995,0.688-1.454,1.071-1.454l0.307,2.143h0.383c1.071-1.225,2.984-6.429,5.663-15.537c0.23-0.229,0.842-0.306,1.761-0.306\
  l-0.383,2.449c0.229,1.607,0.612,2.449,1.071,2.449c0.689-1.455,1.761-4.976,3.139-10.562l1.071-0.689\
  c0.919,0.383,1.378,0.689,1.378,1.072V58.854z M326.213,101.485h0.689v-0.383h-0.689V101.485z M330.423,132.79h0.383\
  c0.535-0.46,0.995-0.689,1.377-0.689v-0.688h-2.066c-0.459,0.076-0.688,0.306-0.688,0.688L330.423,132.79z M330.806,110.67\
  c0.995,0,2.831-4.362,5.663-13.088l-0.765-0.306c0,0.535-0.919,2.219-2.756,4.898c0,0.688-0.688,3.061-2.143,7.041V110.67z\
  M332.566,96.894h0.383l0.307-1.378h-0.689V96.894z M336.086,96.894h0.689l1.76-7.348c-0.842,0-1.454,1.53-1.76,4.516\
  c-0.383,0-0.612,0.612-0.689,1.76V96.894z M336.469,123.987h0.995v-0.994h-0.995V123.987z M338.23,88.78h0.688v-0.995h-0.688V88.78\
  z M340.679,127.509c0.459,0,0.688-0.23,0.688-0.689h-0.688V127.509z M342.746,119.089c0.536,0,0.766-0.229,0.766-0.688h-0.383\
  c-0.459,0.076-0.688,0.306-0.688,0.688H342.746z M344.889,130.341h1.071l0.306-1.378c-0.918,0.383-1.377,0.688-1.377,1.071V130.341\
  z M346.649,128.963h0.689v-0.383h-0.689V128.963z M351.547,106.078c0,0.382-0.229,0.842-0.688,1.377v0.689\
  c0.383,0,0.842-0.612,1.454-1.761v-0.306H351.547z M353.308,96.587c0.536,0,0.766-0.229,0.766-0.766h-0.766V96.587z\
  M354.762,92.301l-0.688,1.071v1.072h0.688l2.449-7.425h-1.071l-1.071,0.766c0.229,0.536,0.382,0.842,0.382,0.995\
  c-0.152,1.913-0.535,2.832-1.071,2.832L354.762,92.301z M356.523,85.642h1.071V85.26h-1.071V85.642z M356.829,84.953\
  c0.995-0.383,1.454-1.147,1.454-2.449c-0.383,0-0.842,0.612-1.454,1.761V84.953z M358.972,76.84c0,0.46-0.229,0.689-0.689,0.689\
  V76.84H358.972z')
  radialgradient#SVGID_7_(cx='415.4858', cy='91.2681', r='49.1805', gradientunits='userSpaceOnUse')
    stop(offset='0.0025', style='stop-color:#FAA61A')
    stop(offset='0.1982', style='stop-color:#F79F1C')
    stop(offset='0.4887', style='stop-color:#EF8B23')
    stop(offset='0.8365', style='stop-color:#E36A2E')
    stop(offset='1', style='stop-color:#DC5834')
  path(fill='url(#SVGID_7_)', d='M407.947,45.001c0.459,0.076,0.688,0.306,0.688,0.688v2.831l-0.688,2.449h0.995\
  c0.459,0,1.148-1.147,2.143-3.52l1.378-0.689l0.383,0.689v0.688l-0.383,0.688l2.144,1.072c2.296-0.689,6.658-1.455,13.011-2.449\
  v0.306l1.761-0.688l4.975,1.071c0.919,0,2.297-0.153,4.21-0.383c3.598,0,6.735,0.612,9.491,1.761\
  c1.606-0.46,3.061-0.689,4.209-0.689c0.229,0,0.383,0.153,0.383,0.383l0.688-0.383h2.449c0.229,0,0.383,0.153,0.383,0.383\
  c0.842-0.459,1.837-0.689,2.832-0.689h2.756c0.612,0,1.071,0.077,1.454,0.307c0.383-0.229,0.842-0.307,1.377-0.307h0.689\
  c0.459,0,0.918,0.46,1.454,1.379v1.377c-0.229,0.689-0.995,1.072-2.144,1.072h-0.306c-0.536,0-0.919-0.613-1.071-1.761\
  l-0.689,0.382l-2.525-0.382c-5.128,0-7.73,0.612-7.73,1.761c0,0.459-0.229,0.688-0.688,0.688c-0.229,0-0.383-0.077-0.383-0.307\
  l-4.898,0.688v-0.382l-0.688,0.382c-0.536-0.229-0.843-0.382-1.072-0.382c-0.535,0.536-3.826,0.995-9.873,1.454\
  c0,0.383-1.378,0.688-4.21,1.071v0.688l2.449-0.383v0.383c2.756-0.383,7.808-0.918,15.155-1.453\
  c1.454,0.229,2.143,0.459,2.143,0.765c0.842-0.842,2.679-1.301,5.587-1.454v0.383l2.449-0.689c0.383,0.23,0.766,0.307,1.072,0.307\
  c0.306,0,1.377-0.383,3.214-1.071l0.689,0.382c1.454-0.229,2.449-0.382,3.138-0.382h0.383c0.459,0.076,0.688,0.306,0.688,0.765\
  v0.996l-0.688,1.07c-1.99-0.459-3.138-0.688-3.521-0.688c-13.165,1.378-19.747,2.679-19.747,3.903h-1.378L439.94,58.7\
  c-0.383,0.23-0.995,0.383-1.761,0.383V58.7c-4.669,0.536-10.409,1.531-17.221,2.832v-0.383l-9.491,2.144\
  c-3.674,7.884-5.664,14.466-6.046,19.67c-2.909,12.094-5.971,22.426-9.108,30.998c-0.459,3.521-0.918,5.281-1.454,5.281h-0.307\
  c-0.382,0-0.765-0.612-1.071-1.761c0.842-1.606,1.99-4.898,3.521-9.873c0.689-2.373,1.531-4.592,2.449-6.658\
  c0-0.46-0.229-0.689-0.688-0.689c-0.612,0.459-1.531,2.603-2.832,6.353c-0.535,0.383-1.76,3.674-3.521,9.797\
  c-0.536,0-1.454,2.679-2.832,8.113c-2.832,3.75-4.21,5.97-4.21,6.735c-2.143,3.98-3.979,5.97-5.587,5.97h-0.766\
  c-0.229,0-0.612-0.383-0.995-1.071c0.23,0,0.307-0.153,0.307-0.383h-0.307l-0.765,0.383c-0.536-0.229-0.843-0.383-0.995-0.383\
  c0,0.612-1.072,1.225-3.215,1.761c-2.679,0-4.669-1.302-5.97-3.827l-3.521-10.256v-1.761h0.688c0,0.229,0.153,0.536,0.383,1.071\
  c-0.229,0.536-0.383,0.842-0.383,1.072l1.761,1.071v-0.383c0-4.133-0.689-8.343-2.067-12.629v-1.071\
  c0.077-0.459,0.307-0.689,0.689-0.689l1.071,0.689h0.307l-0.307-1.761v-0.688c0.076-0.536,0.307-0.766,0.688-0.766l-0.382-1.76\
  v-2.067c0-1.76,0.382-2.679,1.071-2.831h0.688v1.377l0.383,2.526h-0.383c0.536,2.525,1.301,3.826,2.144,3.826v-4.898\
  c0-1.76,0.382-2.679,1.071-2.831h0.306c1.454,0.535,2.144,2.143,2.144,4.898v4.975c0,5.511,1.301,9.261,3.827,11.251\
  c0.918,0,1.606,0.229,2.143,0.688h0.688c0-0.383,0.383-0.918,1.072-1.76l-0.689-1.378c3.139-10.103,6.43-19.288,9.874-27.478\
  c0-0.688,1.301-4.362,3.827-10.944c0-0.229,1.684-5.588,4.975-16.149l-0.766-0.383c-0.688,0-1.607,0.229-2.755,0.688\
  c-0.383-0.229-0.843-0.306-1.454-0.306c-2.22,0.611-4.517,1.684-7.042,3.138c-0.383,0.229-0.842,0.383-1.378,0.383l-0.383-0.688\
  V67.12l0.689-0.995c-0.229,0-0.307-0.153-0.307-0.383c-2.296,0-5.204,0.919-8.802,2.832h-0.688c-0.307,0-0.689-0.383-1.072-1.071\
  V67.12c0-0.536,1.072-1.225,3.139-2.066v-0.689l-2.449,0.307c-1.301,0-2.22-0.612-2.832-1.761v-0.306\
  c0-0.919,2.373-1.531,7.041-1.761c0-0.536-0.918-0.995-2.831-1.454v-1.072c0-0.611,1.301-1.07,3.903-1.377\
  c2.372-0.459,3.521-1.378,3.521-2.832c0.842-0.842,2.755-1.454,5.664-1.76v0.382c1.454-0.459,2.372-0.688,2.755-0.688l0.766,0.307\
  h0.153l0.229-0.077c0.306-0.077,0.612-0.153,0.995-0.229l1.76,0.307l4.593-0.689v0.383c2.22,0,3.979-2.373,5.281-7.041H407.947z\
  M371.667,135.774l0.689-0.306h2.143l0.307-1.454c-2.679-1.378-4.439-2.449-5.281-3.139c-1.914-2.832-2.909-4.209-3.139-4.209\
  c0,0.229-0.152,0.306-0.382,0.306c1.989,5.435,3.75,8.113,5.28,8.113L371.667,135.774z M369.525,111.512\
  c0.076,0.46,0.306,0.689,0.688,0.689v-0.307l-0.306-2.525h-0.383V111.512z M371.285,120.696h0.689v-0.383l-0.689-2.449h-0.688\
  L371.285,120.696z M380.086,135.469c2.603-1.302,3.904-3.444,3.904-6.353c-2.832,0.535-4.21,1.684-4.21,3.521\
  c0,1.301-0.153,2.066-0.383,2.449L380.086,135.469z M386.44,109.752c0-0.077,0-0.229,0.076-0.612l0.076-0.307l0.077-0.383\
  c0.076-0.306,0.076-0.612,0.153-0.842c-0.536,0-0.843,0.689-1.072,2.144H386.44z M386.823,106.613c0.229,0,0.611-0.383,0.994-1.071\
  v-0.688c-0.383,0.229-0.765,0.306-0.994,0.306V106.613z M387.817,104.088h0.766v-0.688h-0.766V104.088z M399.145,99.189h0.688\
  v-1.761h-0.383L399.145,99.189z M399.833,81.586c0.46,0,0.689-0.229,0.689-0.689v-0.383h-0.689V81.586z M401.9,85.106\
  c0,1.071-0.076,1.76-0.306,2.143v0.307h0.306c0-0.459,0.383-0.919,1.072-1.378c-0.229-0.383-0.307-0.766-0.307-1.071H401.9z\
  M426.928,56.251h0.688v-0.383h-0.688V56.251z M429.071,56.94c0.536-0.229,0.843-0.383,0.995-0.383v-0.307h-0.995V56.94z\
  M462.135,54.108h1.072v-0.307h-1.072V54.108z')
  radialgradient#SVGID_8_(cx='441.0791', cy='104.6616', r='47.8009', gradientunits='userSpaceOnUse')
    stop(offset='0.0025', style='stop-color:#FAA61A')
    stop(offset='0.1982', style='stop-color:#F79F1C')
    stop(offset='0.4887', style='stop-color:#EF8B23')
    stop(offset='0.8365', style='stop-color:#E36A2E')
    stop(offset='1', style='stop-color:#DC5834')
  path(fill='url(#SVGID_8_)', d='M449.575,48.521c1.837,1.072,2.755,2.373,2.755,3.828l-0.306,1.76\
  c0.459,0.076,0.688,0.307,0.688,0.689c0,0.229-0.153,0.382-0.383,0.382l0.766,5.281c-0.229,1.607-0.612,2.449-1.071,2.449\
  l0.306,0.688v0.383c0,0.459-0.229,0.689-0.688,0.689l0.383,0.688v1.761l-0.383,2.143c0.229,0.536,0.383,0.842,0.383,1.072\
  c-0.229,3.75-0.689,5.587-1.454,5.587v1.454h0.765v0.307c-0.994,1.301-1.454,2.372-1.454,3.214\
  c0.229,3.291,0.383,5.052,0.383,5.281c-0.306,0-0.688,0.383-1.071,1.071c0.459,2.066,0.918,3.139,1.378,3.139\
  c1.378,0.459,2.908,0.688,4.592,0.688c1.302-0.076,2.526-0.153,3.598-0.229c0.842-0.076,1.378-0.076,1.684-0.076v0.688\
  c-0.536,0-1.684,0.383-3.521,1.071v0.307c0,0.688,0.459,1.071,1.454,1.071c3.291,0,6.506-0.842,9.797-2.449h2.832\
  c2.22,0,4.21-0.459,5.97-1.454v0.383l0.766-0.383h0.306v0.383c0,0.688-3.979,2.143-11.939,4.209\
  c-0.307,1.148-0.688,1.761-1.071,1.761h-1.761c-5.435,0.383-9.797,1.53-13.012,3.521v0.383c0.919,0,1.378,0.076,1.378,0.307\
  l0.688-0.307c0.307,0,0.689,0.383,1.072,1.071v0.689l-3.827,3.827l0.688,1.071v1.071c0.536,0,0.919,0.842,1.071,2.449\
  c-0.535,0-0.842,0.688-1.071,2.143h0.307l1.071-0.688h0.383v7.348c0,0.229-0.153,0.383-0.383,0.383l0.383,0.688v3.904\
  c-0.919,0.842-1.531,2.602-1.761,5.28c-0.383,0-0.688,0.307-1.071,0.995l1.071,2.144v1.071c-0.688,1.913-1.147,2.832-1.454,2.832\
  c-0.535-0.229-0.842-0.383-0.995-0.383v0.383l0.307,0.688c-0.229,1.761-0.307,3.444-0.307,4.898v0.383\
  c0,0.229-0.153,0.307-0.383,0.307c0,0.229,0.153,0.382,0.383,0.382c-0.153,1.914-0.383,2.832-0.765,2.832l0.382,0.689v8.802\
  c0.689,0.995,1.072,1.684,1.072,2.143c0,1.607-0.689,2.603-2.144,3.139c-0.383,0-0.688-0.689-1.071-2.144l0.383-1.76v-4.898\
  c-0.689-0.995-1.071-1.685-1.071-2.144l1.454-11.939c-0.689,0-1.072-0.229-1.072-0.689c0.307-1.607,0.689-2.449,1.072-2.449\
  l-0.383-0.765c0.459-0.766,0.688-1.455,0.688-2.067v-0.688c0-0.536-0.229-0.766-0.688-0.766l-0.689,1.761l0.307,0.766l-1.378,4.516\
  l0.383,1.76l-0.383,0.766c0,0.459,0.229,1.302,0.689,2.449c-0.307,1.378-0.689,2.066-1.072,2.066c0-2.984-0.842-4.516-2.449-4.516\
  l-2.449-0.766V138.3h0.689v-2.525h-0.689v-0.688h0.689v-2.832c0-0.229,0.152-0.307,0.383-0.307l-0.383-0.688v-9.567l0.688-0.995\
  v-1.454c0-1.53,0.229-4.21,0.766-8.113c0-0.152-0.153-0.459-0.383-0.995l0.383-2.143v-0.383c-0.153-0.688-1.071-0.995-2.832-0.995\
  c-9.644,0.995-14.466,2.449-14.466,4.516l-2.832,8.496l0.383,1.378c0,0.688-0.688,3.062-2.143,7.041l-3.827,12.323v3.214\
  c-0.689,0-1.531,3.291-2.449,9.797l-1.761,1.455c-0.306,0-0.688-0.383-1.071-1.072v-1.377c0.688-3.139,1.454-5.971,2.449-8.496\
  l-0.383-0.689c0.536-1.454,0.766-2.525,0.766-3.138c-0.307,0-0.919-0.842-1.761-2.525c-0.995,0-1.454-0.307-1.454-0.995v-2.525\
  l0.688-0.995v-0.383h-0.994c-0.536,0-1.455,2.372-2.832,7.041c-0.153,0-0.766,0.612-1.761,1.761c-0.306,0-0.688-0.383-1.071-1.071\
  v-0.307l0.383-2.143l-0.383-0.689c0.995-1.76,1.53-3.291,1.76-4.592c2.832-2.756,4.21-5.205,4.21-7.425\
  c0.153,0,0.383-0.306,0.688-0.994c0-0.23-0.076-0.383-0.306-0.383c0.306-2.603,1.378-3.904,3.138-3.904l0.383-1.76\
  c-0.383,0-0.688-0.307-1.071-0.995v-0.383c0-1.53,1.071-4.133,3.138-7.73v-1.76c-1.607,0-2.449-1.072-2.449-3.215\
  c-0.383,0-0.612-0.612-0.688-1.761c0.688-0.918,3.215-1.837,7.424-2.755c1.454-0.689,2.909-2.603,4.516-5.664\
  c0.383,0,0.919-1.071,1.454-3.138c0-0.23-0.152-0.383-0.382-0.383c0.688-4.439,1.684-6.659,2.831-6.659\
  c0,0.229,0.153,0.307,0.383,0.307l0.307-1.378c-0.459,0-0.689-0.383-0.689-1.071c2.22-3.98,3.674-5.971,4.21-5.971\
  c3.751-7.807,5.664-12.628,5.664-14.466c2.832-5.127,4.745-9.107,5.587-11.939c0.077,0,0.536-0.153,1.454-0.383\
  c1.454,0.229,2.373,0.383,2.832,0.383c0.077-0.459,0.307-0.689,0.689-0.689c0.229,0,0.306,0.077,0.306,0.307L449.575,48.521z\
  M405.182,130.493h-0.688c0.076-0.459,0.306-0.688,0.688-0.688V130.493z M405.182,135.774h0.689v-0.688h-0.689V135.774z\
  M407.631,132.637v-0.689c-0.459,0.077-0.688,0.307-0.688,0.689H407.631z M432.277,92.837h0.688V92.53h-0.688V92.837z\
  M432.66,92.147h0.688v-1.377h-0.383L432.66,92.147z M434.038,86.178c-0.077,0.766-0.153,1.454-0.229,1.99\
  c-0.077,0.383-0.077,0.688-0.077,0.842h0.689c0-1.148,0.229-1.99,0.688-2.525l-0.688-0.307H434.038z M434.42,96.357\
  c-0.23,0.536-0.383,0.842-0.383,1.071c1.301-0.688,2.449-1.071,3.521-1.071v-0.688h-3.521L434.42,96.357z M435.492,84.417v-0.688\
  c-0.536,0.077-0.766,0.307-0.766,0.688H435.492z M436.487,89.01c-0.919,2.144-1.378,3.903-1.378,5.281\
  c2.144-0.229,4.745-0.842,7.73-1.761v-4.592c0-0.229,0.153-0.383,0.383-0.383l-0.383-0.689c0.153-2.066,0.383-3.138,0.688-3.138\
  l-0.306-0.766c0.076-0.459,0.306-0.688,0.688-0.688l-0.383-0.688v-1.378l1.072-1.454c-0.689,0-1.072-0.229-1.072-0.689v-2.831\
  l-0.306-1.761c-1.071,0.536-3.444,5.435-7.042,14.771L436.487,89.01z M435.797,82.963h0.383v-0.688h-0.383V82.963z M436.18,81.586\
  v0.382h0.307c0-0.229,0.152-0.535,0.383-1.071h-0.383L436.18,81.586z M450.57,141.438l0.383,1.76v1.378\
  c0,0.536-0.229,0.766-0.689,0.766l-0.383-0.766v-3.138H450.57z M478.736,86.484v0.382c0,0.536-3.521,1.378-10.562,2.449\
  c0,0.46-1.148,0.689-3.521,0.689v-0.689c0.076,0,1.301-0.306,3.597-0.842c2.603-0.688,5.971-1.53,10.18-2.679L478.736,86.484z')
