extends partials/base

block title
	-var titulo = "Juego";
	title Juego

block content

	section.cont-sync-actividad(style="display:none;")
		div.row
			div.cont-cajaD
				div.cont-cajaDS-Iz
					img(src="images/Img-cajaGD1.png")

				div.cont-cajaDS-Center
					div
					h3.pasos-int-sync.
						1. ingresa a ___ desde tu dispositivo móvil.

					img.img-sync-cel(src="images/Img-SyncCel.png", alt="")

				div.cont-cajaDS-Der
					img(src="images/Img-cajaGD2.png")

		div.row.paso2-sync
			div.cont-cajaD
				div.cont-cajaDS-Iz
					img(src="images/Img-cajaGD1B.png")

				div.cont-cajaDS2-Center
					div
					h3.pasos-int-sync.
						2. ingresa este código.

					div.cont-codigo-sync
					
						input.codigo.sync(type="text")

				div.cont-cajaDS-Der
					img(src="images/Img-cajaGD2B.png")

	section.cont-info-juego(style="display:none;")
		div.row
			div.cont-caja-titulos
				div.cont-titulos-Izq
					img(src="images/Img-cajaP1.png")

				div.cont-titulos-Center
					h4.titulos-infor-juego.
						Vas por tu barrio, utiliza tu celular para poder avanzar.

				div.cont-titulos-Der
					img(src="images/Img-cajaP2.png")
			div.clear

			
			div.cont-barra-progreso.container
				div.progress.vertical
					div.progress-bar.progress-bar-info(role="progressbar",aria-valuenow="90",aria-valuemin="0",aria-valuemax="100",style="width: 40%;")

			div.contador-BBB-totales
				div
					img.img-responsive(src="images/Img-BBBContador.png", alt="")
				
				div.cont-text-contador
					p.
						0


			div.clear
			div.cont-sprite-gestos.
				sprite

			div.cont-logoH-Pe
				img.img-responsive(src="images/Img-LogoHallowBBB.png", alt="")

			div.cont-logoBBB-Pe
				img.img-responsive(src="images/Img-LogoBBB.png", alt="")

	section(style="display:none;")
		div.cont-titulos-HW
				h1.titulo-form.
					 ¡Derrotaste a Drácula! pero esto es sólo el comienzo.
				em.subtitulo-form.
					Regístrate para conocer los desafíos que te esperan... 
		div.cont-fondo-G
			div.cont-cajaG-Iz
		
					img(src="images/Img-cajaG1.png")

			div.cont-cajaG-Center
				form.registro-finalH
					div.cont-form-registroH
						h2.
							Datos Acudiente

						input(type="text",placeholder="Nombres")
						input(type="text",placeholder="Apellidos")
						select
							option.
								Tipo de documento
							option.
								Tipo de documento
						input(type="text",placeholder="Número Documento")
						select
							option.
								Departamento
							option.
								Departamento
						select
							option.
								Ciudad
							option.
								Ciudad
						input(type="text",placeholder="Correo Electrónico")
						input(type="text",placeholder="Número telefonico")
						input(type="text",placeholder="Dirección residencia")

					div.division-form-L

					divc.cont-form-registroH
						h2.
							Datos participante

						label.face-connect(for="ConectarconFacebook").
								Conectar con fACEBOOK
							
						button.conect-facebook
								img.img-responsive(src="images/Img-LogoFb.png", alt="Jugar")

						input(type="text",placeholder="Nombres")
						input(type="text",placeholder="Apellidos")
						input(type="text",placeholder="Correo Electrónico")
						input(type="text",placeholder="Número telefonico")

						div
							input.check-terminos(type="checkbox")
							p.
								 acepto los términos y condiciones
						
						div.clear
						div
							input.check-terminos(type="checkbox")
							p.
								 soy menor de edad y cuento con la 
								autorización de mi representante legal.

						input.btn-enviar-regis(type="submit", value="enviar")




			div.cont-cajaG-Der
				img(src="images/Img-cajaG2.png")

	section.cont-cargador(style="display:none;")
		div.row

			div
				h2.
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque esse omnis dolor temporibus quam culpa vel eaque ipsa dolorem voluptates?
			div
				img(src="", alt="")

			div
				img(src="", alt="")

			div
				p.
					30 % 





block Scripts