extends partials/base

block title
	-var titulo = "Mobile";
	title Mobile

block content
	section
		div
			div
				img(src="", alt="")

			div
				h1.
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, culpa.

				div.
					sprite

			div
				img(src="", alt="")


block Scripts