extends partials/base

block title
	-var titulo = "Mobile";
	title Mobile

block content

	div.rayo-C
		img(src="images/Img-RayoA.png", alt="")

	section.cont-Sync(style="display:none;")

		div.caja-Sync-juegoHB
			div.cont-Sync-Izq
				img.img-responsive(src="images/Img-cajaM1.png")

			div.cont-Sync-Cen
				h5.titulos-infor-juego.

							ingresa el código que aparece en la pantalla, y empieza a jugar

				input.codigo-sync(type="text")

			div.cont-Sync-Der
				img.img-responsive(src="images/Img-cajaM2.png")




	section.con-celularG(style="display:none-;")
		
		div.caja-instr-juegoHB
				div.cont-instrc-Izq
					img(src="images/Img-cajaP1B.png")

				div.cont-instrc-CenHB2
					h5.titulos-infor-juego.

							toca la pantalla hasta que se abra la puerta

				div.cont-instrc-Der
					img(src="images/Img-cajaP2B.png")

		button.btn-iniciarJ

			div.caja-button-juegoHB
				div.cont-instrc-Izq
					img(src="images/Img-cajaP1B.png")

				div.cont-btn-CenHB2
					h5.titulos-infor-juego.

							iniciar

				div.cont-instrc-Der
					img(src="images/Img-cajaP2B.png")

	section.con-celularG(style="display:none;")
		
		div.caja-instr-juegoHB
				div.cont-instrc-Izq
					img(src="images/Img-cajaP1B.png")

				div.cont-instrc-CenHB2
					h5.titulos-infor-juego.

							toca la pantalla hasta que se abra la puerta

				div.cont-instrc-Der
					img(src="images/Img-cajaP2B.png")

		button.btn-iniciarJ

			div.caja-button-juegoHB
				div.cont-instrc-Izq
					img(src="images/Img-cajaP1B.png")

				div.cont-btn-CenHB2
					h5.titulos-infor-juego.

							iniciar

				div.cont-instrc-Der
					img(src="images/Img-cajaP2B.png")

	section.con-celularG(style="display:none;")
		
		div.caja-instr-juegoHB
				div.cont-instrc-Izq
					img(src="images/Img-cajaP1B.png")

				div.cont-instrc-CenHB2
					h5.titulos-infor-juego.

							toca la pantalla hasta que se abra la puerta

				div.cont-instrc-Der
					img(src="images/Img-cajaP2B.png")

		button.btn-iniciarJ

			div.caja-button-juegoHB
				div.cont-instrc-Izq
					img(src="images/Img-cajaP1B.png")

				div.cont-btn-CenHB2
					h5.titulos-infor-juego.

							iniciar

				div.cont-instrc-Der
					img(src="images/Img-cajaP2B.png")

	section.con-celularG(style="display:none;")
		
		div.caja-instr-juegoHB
				div.cont-instrc-Izq
					img(src="images/Img-cajaP1B.png")

				div.cont-instrc-CenHB2
					h5.titulos-infor-juego.

							toca la pantalla hasta que se abra la puerta

				div.cont-instrc-Der
					img(src="images/Img-cajaP2B.png")

		button.btn-iniciarJ

			div.caja-button-juegoHB
				div.cont-instrc-Izq
					img(src="images/Img-cajaP1B.png")

				div.cont-btn-CenHB2
					h5.titulos-infor-juego.

							iniciar

				div.cont-instrc-Der
					img(src="images/Img-cajaP2B.png")

	section.con-celularG(style="display:none;")
		
		div.caja-instr-juegoHB
				div.cont-instrc-Izq
					img(src="images/Img-cajaP1B.png")

				div.cont-instrc-CenHB2
					h5.titulos-infor-juego.

							toca la pantalla hasta que se abra la puerta

				div.cont-instrc-Der
					img(src="images/Img-cajaP2B.png")

		button.btn-iniciarJ

			div.caja-button-juegoHB
				div.cont-instrc-Izq
					img(src="images/Img-cajaP1B.png")

				div.cont-btn-CenHB2
					h5.titulos-infor-juego.

							iniciar

				div.cont-instrc-Der
					img(src="images/Img-cajaP2B.png")

	
	div.cont-logoH-PeB
		img.img-responsive(src="images/Img-LogoHallowBBB.png", alt="")

	div.cont-logoBBB-PeB
		img.img-responsive(src="images/Img-LogoBBB.png", alt="")


block Scripts