extends partials/base

block title
	-var titulo = "Ranking";
	title Ranking

block content
	section
		div.cont-titulos-HW
				h1.
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, deleniti.
		div
				div
					img(src="", alt="")
				div
					h2.
						tu posición

					em.
						10000

					table
						thead
							tr
								th.
									Apodo
								th.
									Puntuación
						tbody
							tr
								td.
									rosamelano

								td.
									122220

					h2.
						 Lorem ipsum dolor sit amet, consectetur.
	



				div
					img(src="", alt="")



block Scripts