extends partials/base

block title
	-var titulo = "Ranking";
	title Ranking

block content
	section
		div.cont-titulos-HW
				h1.titulo-ranking.
					 bien hecho, disfruta del dulce m치s buscado,
				em.subtitulo-principal.
					el delicioso bon bon bum morazulfresh.
		
		div.cont-fondo-G
			div.cont-cajaG-Iz
					img(src="images/Img-cajaG1.png")

			div.cont-cajaG-Center
					h2.titulo-posicion-H.
						tu posici칩n

					p.text-mi-resultado.
						69

					div.contenedor-tabla-rank

						table.posiciones-juegoH
							thead
								tr
									th.titulo-apodos.
										Apodo

									th.titulo-puntos.
										Puntuaci칩n
							tbody
								-for(x =0; x <16; x++)
									tr
										td.
											rosamelano

										td.
											12222#{x}

								tr
										td.mi-apodo.
											rosamelano

										td.mi-puntaje.
											12222#{x}
							
					h2.titulo-fin-rank.
						 sigue jugando para acumular m치s puntos. 
	



				div.cont-cajaG-Der
					img(src="images/Img-cajaG2.png")
				

block Scripts